In [0]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

### QUESTION 1: Recyclable and Low Fat Products

In [0]:
data1 = [
    (0, 'Y', 'N'),
    (1, 'Y', 'Y'),
    (2, 'N', 'Y'),
    (3, 'Y', 'Y'),
    (4, 'N', 'N')
]

schema1 = ['product_id', 'low_fats', 'recyclable']

# Write a solution to find the ids of products that are both low fat and recyclable.

df1 = spark.createDataFrame(data=data1, schema=schema1)
df1.show()

+----------+--------+----------+
|product_id|low_fats|recyclable|
+----------+--------+----------+
|         0|       Y|         N|
|         1|       Y|         Y|
|         2|       N|         Y|
|         3|       Y|         Y|
|         4|       N|         N|
+----------+--------+----------+

In [0]:
# QUESTION 1: SPARK
df1.select("product_id").filter((col("low_fats")=='Y') & (col("recyclable")=='Y')).show()

+----------+
|product_id|
+----------+
|         1|
|         3|
+----------+

In [0]:
# QUESTION 1: SQL
df1.createOrReplaceTempView("df1_tbl1")
spark.sql('''
          select product_id from df1_tbl1 where low_fats='Y' and recyclable='Y'
          ''').show()

+----------+
|product_id|
+----------+
|         1|
|         3|
+----------+

### QUESTION 2: Find Customer Referee

In [0]:
data2 = [
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
]

schema2 = ['id', 'name', 'referee_id']

# Find the names of the customer that are not referred by the customer with id = 2.
df2 = spark.createDataFrame(data = data2, schema= schema2)
df2.show()

+---+----+----------+
| id|name|referee_id|
+---+----+----------+
|  1|Will|      null|
|  2|Jane|      null|
|  3|Alex|         2|
|  4|Bill|      null|
|  5|Zack|         1|
|  6|Mark|         2|
+---+----+----------+

In [0]:
# QUESTION 2: SPARK

df2.select("name")\
    .filter((col("referee_id")!=2) | (col("referee_id").isNull())).show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

In [0]:
# QUESTION 2: SQL

df2.createOrReplaceTempView("df2_tbl2")
spark.sql('''
          select name from df2_tbl2 where referee_id!=2 or referee_id IS NULL
          ''').show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

### QUESTION 3: Big Countries

In [0]:
data3 = [
    ('Afghanistan', 'Asia', 652230, 25500100, 20343000000),
    ('Albania', 'Europe', 28748, 2831741, 12960000000),
    ('Algeria', 'Africa', 2381741, 37100000, 188681000000),
    ('Andorra', 'Europe', 468, 78115, 3712000000),
    ('Angola', 'Africa', 1246700, 20609294, 100990000000)
]

schema3 = ['name', 'continent', 'area', 'population', 'gdp']

# Write a solution to find the name, population, and area of the big countries.
# A country is big if:
# it has an area of at least three million (i.e., 3000000 km2), or
# it has a population of at least twenty-five million (i.e., 25000000).

df3= spark.createDataFrame(data= data3, schema= schema3)
df3.show()

+-----------+---------+-------+----------+------------+
|       name|continent|   area|population|         gdp|
+-----------+---------+-------+----------+------------+
|Afghanistan|     Asia| 652230|  25500100| 20343000000|
|    Albania|   Europe|  28748|   2831741| 12960000000|
|    Algeria|   Africa|2381741|  37100000|188681000000|
|    Andorra|   Europe|    468|     78115|  3712000000|
|     Angola|   Africa|1246700|  20609294|100990000000|
+-----------+---------+-------+----------+------------+

In [0]:
# QUESTION 3: SPARK

df3.select("name", "population", "area")\
    .filter((col("area")>=3000000) | (col("population")>=25000000)).show()

+-----------+----------+-------+
|       name|population|   area|
+-----------+----------+-------+
|Afghanistan|  25500100| 652230|
|    Algeria|  37100000|2381741|
+-----------+----------+-------+

In [0]:
# QUESTION 3: SQL

df3.createOrReplaceTempView("df3_tbl3")
spark.sql('''
          select * from df3_tbl3 where area>= 3000000 or population>= 25000000
          ''').show()

+-----------+---------+-------+----------+------------+
|       name|continent|   area|population|         gdp|
+-----------+---------+-------+----------+------------+
|Afghanistan|     Asia| 652230|  25500100| 20343000000|
|    Algeria|   Africa|2381741|  37100000|188681000000|
+-----------+---------+-------+----------+------------+

### QUESTION 4: Article Views I

In [0]:
data4 = [
    (1, 3, 5, '2019-08-01'),
    (1, 3, 6, '2019-08-02'),
    (2, 7, 7, '2019-08-01'),
    (2, 7, 6, '2019-08-02'),
    (4, 7, 1, '2019-07-22'),
    (3, 4, 4, '2019-07-21'),
    (3, 4, 4, '2019-07-21')
]

schema4 = ['article_id', 'author_id', 'viewer_id', 'view_date']

# Write a solution to find all the authors that viewed at least one of their own articles.
# Return the result table sorted by id in ascending order.

df4= spark.createDataFrame(data= data4, schema= schema4)
df4.show()

+----------+---------+---------+----------+
|article_id|author_id|viewer_id| view_date|
+----------+---------+---------+----------+
|         1|        3|        5|2019-08-01|
|         1|        3|        6|2019-08-02|
|         2|        7|        7|2019-08-01|
|         2|        7|        6|2019-08-02|
|         4|        7|        1|2019-07-22|
|         3|        4|        4|2019-07-21|
|         3|        4|        4|2019-07-21|
+----------+---------+---------+----------+

In [0]:
# QUESTION 4: SPARK

df4.select("author_id").distinct()\
    .filter(col("author_id")==col("viewer_id"))\
        .sort(col("author_id")).show()

+---------+
|author_id|
+---------+
|        4|
|        7|
+---------+

In [0]:
# QUESTION 4: SQL

df4.createOrReplaceTempView("df4_tbl")
spark.sql('''
          select distinct(author_id) from df4_tbl where author_id=viewer_id
          order by author_id
          ''').show()

+---------+
|author_id|
+---------+
|        4|
|        7|
+---------+

### QUESTION 5: Invalid Tweets

In [0]:
data5 = [
    (1, "Let us Code"),
    (2, "More than fifteen chars are here!")
]

schema5 = ["tweet_id", "content"]

# Write a solution to find the IDs of the invalid tweets.
# The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

df5 = spark.createDataFrame(data = data5, schema = schema5)
df5.show()

+--------+--------------------+
|tweet_id|             content|
+--------+--------------------+
|       1|         Let us Code|
|       2|More than fifteen...|
+--------+--------------------+

In [0]:
# QUESTION 5: SPARK
df5.select(col("tweet_id"))\
    .filter(length(col("content"))>15).show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

In [0]:
# QUESTION 5: SQL
df5.createOrReplaceTempView("df5_tbl")
spark.sql('''
          select tweet_id from df5_tbl where len(content)>15
          ''').show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

### QUESTION 6: Replace Employee ID With The Unique Identifier

In [0]:
data6_emp = [
    (1, "Alice"),
    (7, "Bob"),
    (11, "Meir"),
    (90, "Winston"),
    (3, "Jonathan")
]
schema6_emp = ["id", "name"]

data6_empUNI = [
    (3, 1),
    (11, 2),
    (90, 3)
]
schema6_empUNI = ["id", "unique_id"]

# Write a solution to show the unique ID, name of each user, If a user does not have a unique ID replace just show null.

df6_emp = spark.createDataFrame(data= data6_emp, schema =schema6_emp)
df6_empUNI = spark.createDataFrame(data= data6_empUNI, schema= schema6_empUNI)

df6_emp.show()
df6_empUNI.show()

+---+--------+
| id|    name|
+---+--------+
|  1|   Alice|
|  7|     Bob|
| 11|    Meir|
| 90| Winston|
|  3|Jonathan|
+---+--------+

+---+---------+
| id|unique_id|
+---+---------+
|  3|        1|
| 11|        2|
| 90|        3|
+---+---------+

In [0]:
# QUESTION 6: SPARK

df6_emp.join(df6_empUNI, df6_emp["id"]==df6_empUNI["id"], "left")\
    .select(df6_emp["name"], df6_empUNI["unique_id"]).show()

+--------+---------+
|    name|unique_id|
+--------+---------+
|   Alice|     null|
|     Bob|     null|
|    Meir|        2|
| Winston|        3|
|Jonathan|        1|
+--------+---------+

In [0]:
# QUESTION 6: SQL
df6_emp.createOrReplaceTempView("df6_emp_tbl")
df6_empUNI.createOrReplaceTempView("df6_empUNI_tbl")

spark.sql('''
          select df6_emp_tbl.name, df6_empUNI_tbl.unique_id from df6_emp_tbl LEFT JOIN df6_empUNI_tbl ON df6_emp_tbl.id = df6_empUNI_tbl.id
          ''').show()

+--------+---------+
|    name|unique_id|
+--------+---------+
|   Alice|     null|
|     Bob|     null|
|    Meir|        2|
| Winston|        3|
|Jonathan|        1|
+--------+---------+

### QUESTION 7: Product Sales Analysis I

In [0]:
df7_sales_data = [
    (1, 100, 2008, 10, 5000),
    (2, 100, 2009, 12, 5000),
    (7, 200, 2011, 15, 9000)
]
df7_sales_data_schema = ['sale_id', 'product_id', 'year', 'quantity', 'price']

df7_product_data = [
    (100, 'Nokia'),
    (200, 'Apple'),
    (300, 'Samsung')
]
df7_product_schema = ['product_id', 'product_name']

# Write a solution to report the product_name, year, and price for each sale_id in the Sales table.

df7_sales= spark.createDataFrame(data= df7_sales_data, schema= df7_sales_data_schema)
df7_product= spark.createDataFrame(data= df7_product_data, schema= df7_product_schema)

df7_sales.show()
df7_product.show()

+-------+----------+----+--------+-----+
|sale_id|product_id|year|quantity|price|
+-------+----------+----+--------+-----+
|      1|       100|2008|      10| 5000|
|      2|       100|2009|      12| 5000|
|      7|       200|2011|      15| 9000|
+-------+----------+----+--------+-----+

+----------+------------+
|product_id|product_name|
+----------+------------+
|       100|       Nokia|
|       200|       Apple|
|       300|     Samsung|
+----------+------------+

In [0]:
# QUESTION 7: SPARK
df7_sales.join(df7_product, df7_sales["product_id"]==df7_product["product_id"], "inner")\
    .select(df7_product["product_name"], df7_sales["year"], df7_sales["price"]).show()

+------------+----+-----+
|product_name|year|price|
+------------+----+-----+
|       Nokia|2008| 5000|
|       Nokia|2009| 5000|
|       Apple|2011| 9000|
+------------+----+-----+

In [0]:
# QUESTION 7: SQL
df7_product.createOrReplaceTempView("df7_product_tbl")
df7_sales.createOrReplaceTempView("df7_sales_tbl")

spark.sql('''
          select product.product_name, sales.year, sales.price
          from df7_product_tbl as product inner join df7_sales_tbl as sales 
          on product.product_id= sales.product_id
          ''').show()

+------------+----+-----+
|product_name|year|price|
+------------+----+-----+
|       Nokia|2008| 5000|
|       Nokia|2009| 5000|
|       Apple|2011| 9000|
+------------+----+-----+

### QUESTION 8: Customer Who Visited but Did Not Make Any Transactions

In [0]:
df8_visits_data = [
    (1, 23),
    (2, 9),
    (4, 30),
    (5, 54),
    (6, 96),
    (7, 54),
    (8, 54)
]
df8_visits_schema = ['visit_id', 'customer_id']

df8_transactions_data = [
    (2, 5, 310),
    (3, 5, 300),
    (9, 5, 200),
    (12, 1, 910),
    (13, 2, 970)
]
df8_transactions_schema = ['transaction_id', 'visit_id', 'amount']

# Write a solution to find the IDs of the users who visited without making any transactions and the number of times they made these types of visits.

df8_visits= spark.createDataFrame(data= df8_visits_data, schema= df8_visits_schema)
df8_transactions= spark.createDataFrame(data= df8_transactions_data, schema= df8_transactions_schema)

df8_visits.show()
df8_transactions.show()

+--------+-----------+
|visit_id|customer_id|
+--------+-----------+
|       1|         23|
|       2|          9|
|       4|         30|
|       5|         54|
|       6|         96|
|       7|         54|
|       8|         54|
+--------+-----------+

+--------------+--------+------+
|transaction_id|visit_id|amount|
+--------------+--------+------+
|             2|       5|   310|
|             3|       5|   300|
|             9|       5|   200|
|            12|       1|   910|
|            13|       2|   970|
+--------------+--------+------+

In [0]:
# QUESTION 8: SPARK

df8_visits.join(df8_transactions, df8_visits["visit_id"] == df8_transactions["visit_id"], "left_anti")\
    .groupBy(df8_visits["customer_id"]).agg(count(df8_visits["visit_id"])).alias("count_no_trans").show()

df8_visits.join(df8_transactions, df8_visits["visit_id"] == df8_transactions["visit_id"], "left_anti")\
    .groupBy(df8_visits["customer_id"]).agg(count(df8_visits["visit_id"]).alias("count_no_trans")).show()

+-----------+---------------+
|customer_id|count(visit_id)|
+-----------+---------------+
|         30|              1|
|         96|              1|
|         54|              2|
+-----------+---------------+

+-----------+--------------+
|customer_id|count_no_trans|
+-----------+--------------+
|         30|             1|
|         96|             1|
|         54|             2|
+-----------+--------------+

In [0]:
# QUESTION 8: SQL

df8_transactions.createOrReplaceTempView("df8_transactions_tbl")
df8_visits.createOrReplaceTempView("df8_visits_tbl")

spark.sql('''
          select visits.customer_id, count(visits.visit_id) as count_no_trans from df8_visits_tbl as visits left join df8_transactions_tbl as transaction on transaction.visit_id=visits.visit_id
          where transaction.transaction_id IS NULL
          group by visits.customer_id
          ''').show()

+-----------+--------------+
|customer_id|count_no_trans|
+-----------+--------------+
|         30|             1|
|         96|             1|
|         54|             2|
+-----------+--------------+

### QUESTION 9: Rising Temperature

In [0]:
df9_weather_data = [
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30)
]
df9_weather_schema = ['id', 'recordDate', 'temperature']

# Write a solution to find all dates' id with higher temperatures compared to its previous dates (yesterday).

df9= spark.createDataFrame(data= df9_weather_data, schema= df9_weather_schema)
df9.show()

+---+----------+-----------+
| id|recordDate|temperature|
+---+----------+-----------+
|  1|2015-01-01|         10|
|  2|2015-01-02|         25|
|  3|2015-01-03|         20|
|  4|2015-01-04|         30|
+---+----------+-----------+

In [0]:
# QUESTION 9: SPARK

df9.alias("a").join(df9.alias("b"), a["recordDate"] == date_sub(b["recordDate"], 1), "inner").show()

# because a and b are not defined variables. In PySpark, alias() creates a table alias inside the DataFrame, but it doesn't define Python variables named a or b.

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-1978085944061911>:3
      1 # QUESTION 9: SPARK
----> 3 df9.alias("a").join(df9.alias("b"), a["recordDate"] == date_sub(b["recordDate"], 1), "inner").show()

NameError: name 'a' is not defined

In [0]:
df9.alias("a").join(df9.alias("b"), (datediff(col("a.recordDate"), col("b.recordDate"))==1) & (col("a.temperature")> col("b.temperature")), "inner")\
    .select(col("a.id")).show()

+---+
| id|
+---+
|  2|
|  4|
+---+

In [0]:
# QUESTION 9: SPARK

df9.alias("a").join(df9.alias("b"), (col("a.recordDate") == date_sub(col("b.recordDate"), 1)) & (col("b.temperature")>col("a.temperature")), "inner")\
    .select(col("b.id")).show()

+---+
| id|
+---+
|  2|
|  4|
+---+

In [0]:
# QUESTION 9: SPARK USING WINDOWS FUNCTION

from pyspark.sql.window import Window

#Ensure recordDate is of DateType
df9.withColumn("recordDate", to_date(col("recordDate"), "yyyy-MM-dd"))

win=Window.orderBy(col("recordDate"))

df9.withColumn("prev_temp", lag(col("temperature")).over(win))\
    .filter(col("temperature")>col("prev_temp"))\
        .select(col("id")).show()

+---+
| id|
+---+
|  2|
|  4|
+---+

In [0]:
# QUESTION 9: SQL

df9.createOrReplaceTempView("df9_tbl")
spark.sql('''
          select b.id from df9_tbl a inner join df9_tbl b on a.recordDate = date_sub(b.recordDate, 1) and b.temperature>a.temperature
          ''').show()

# USING WINDOW FUNCTION
spark.sql('''
          select id from(
          select *, lag(temperature, 1) over(order by recordDate) as prev_temp from df9_tbl) a
          where a.temperature>a.prev_temp
          ''').show()

+---+
| id|
+---+
|  2|
|  4|
+---+

+---+
| id|
+---+
|  2|
|  4|
+---+

### QUESTION 10: Average Time of Process per Machine

In [0]:
df10_activity_data = [
    (0, 0, 'start', 0.712),
    (0, 0, 'end', 1.520),
    (0, 1, 'start', 3.140),
    (0, 1, 'end', 4.120),
    (1, 0, 'start', 0.550),
    (1, 0, 'end', 1.550),
    (1, 1, 'start', 0.430),
    (1, 1, 'end', 1.420),
    (2, 0, 'start', 4.100),
    (2, 0, 'end', 4.512),
    (2, 1, 'start', 2.500),
    (2, 1, 'end', 5.000)
]
df10_activity_schema = ['machine_id', 'process_id', 'activity_type', 'timestamp']

# There is a factory website that has several machines each running the same number of processes. Write a solution to find the average time each machine takes to complete a process.
# The time to complete a process is the 'end' timestamp minus the 'start' timestamp. The average time is calculated by the total time to complete every process on the machine divided by the number of processes that were run.
# The resulting table should have the machine_id along with the average time as processing_time, which should be rounded to 3 decimal places.

df10= spark.createDataFrame(data= df10_activity_data, schema=df10_activity_schema)

df10.show()

+----------+----------+-------------+---------+
|machine_id|process_id|activity_type|timestamp|
+----------+----------+-------------+---------+
|         0|         0|        start|    0.712|
|         0|         0|          end|     1.52|
|         0|         1|        start|     3.14|
|         0|         1|          end|     4.12|
|         1|         0|        start|     0.55|
|         1|         0|          end|     1.55|
|         1|         1|        start|     0.43|
|         1|         1|          end|     1.42|
|         2|         0|        start|      4.1|
|         2|         0|          end|    4.512|
|         2|         1|        start|      2.5|
|         2|         1|          end|      5.0|
+----------+----------+-------------+---------+

In [0]:
# After the join, both DataFrames have columns with the same names, like machine_id, process_id, and timestamp. PySpark automatically renames the duplicate column names with suffixes like _left, _right (or more specifically, it uses the aliases of the DataFrames if provided). So when you do: (df10_end["timestamp"]-df10_start["timestamp"]), PySpark may not know which timestamp you mean, or you'll get an ambiguous column error or incorrect column reference.

# df10_start = df10.filter(col("activity_type")=="start")
# df10_end = df10.filter(col("activity_type")=="end")

# df10_start.join(df10_end, (df10_start["machine_id"]==df10_end["machine_id"]) & (df10_start["process_id"]==df10_end["process_id"]))\
    # .withColumn("process_time", (df10_end["timestamp"]-df10_start["timestamp"]))\
        # .show()

df10_start = df10.filter(col("activity_type")=="start").alias("start")
df10_end = df10.filter(col("activity_type")=="end").alias("end")

df10_start.join(df10_end, (df10_start["machine_id"]==df10_end["machine_id"]) & (df10_start["process_id"]==df10_end["process_id"]))\
     .withColumn("process_time", (col("end.timestamp")-col("start.timestamp")))\
         .groupBy(col("start.machine_id")).agg(round(avg(col("process_time")),3).alias("processing_time"))\
             .show()

+----------+---------------+
|machine_id|processing_time|
+----------+---------------+
|         0|          0.894|
|         1|          0.995|
|         2|          1.456|
+----------+---------------+

In [0]:
# QUESTION 10: SPARK

df10.alias("t1").join(df10.alias("t2"), (col("t1.machine_id") == col("t2.machine_id")) & (col("t1.process_id") == col("t2.process_id")) & (col("t1.activity_type") == "end") & (col("t2.activity_type") == "start"), "inner")\
    .withColumn("time_stamp",(col("t1.timestamp")-col("t2.timestamp")))\
    .groupBy(col("t1.machine_id")).agg(round(avg(col("time_stamp")),3).alias("processing_time"))\
    .show()

+----------+---------------+
|machine_id|processing_time|
+----------+---------------+
|         0|          0.894|
|         1|          0.995|
|         2|          1.456|
+----------+---------------+

In [0]:
# QUESTION 10: SQL

df10.createOrReplaceTempView("df10_tbl")
spark.sql('''
          select t1.machine_id, round(avg(t1.timestamp-t2.timestamp),3) as processing_time 
from df10_tbl t1 inner join df10_tbl t2 on t1.machine_id=t2.machine_id and t1.process_id=t2.process_id and t1.activity_type="end" and t2.activity_type="start"
group by t1.machine_id
          ''').show()

+----------+---------------+
|machine_id|processing_time|
+----------+---------------+
|         0|          0.894|
|         1|          0.995|
|         2|          1.456|
+----------+---------------+

### QUESTION 11: Employee Bonus

In [0]:
df11_employee_data = [
    (3, 'Brad', None, 4000),
    (1, 'John', 3, 1000),
    (2, 'Dan', 3, 2000),
    (4, 'Thomas', 3, 4000)
]
df11_employee_schema = ['empId', 'name', 'supervisor', 'salary']

df11_bonus_data = [
    (2, 500),
    (4, 2000)
]
df11_bonus_schema = ['empId', 'bonus']

# Write a solution to report the name and bonus amount of each employee with a bonus less than 1000.

df11_employee= spark.createDataFrame(data= df11_employee_data, schema=df11_employee_schema)
df11_bonus= spark.createDataFrame(data=df11_bonus_data, schema=df11_bonus_schema)

df11_employee.show()
df11_bonus.show()

+-----+------+----------+------+
|empId|  name|supervisor|salary|
+-----+------+----------+------+
|    3|  Brad|      null|  4000|
|    1|  John|         3|  1000|
|    2|   Dan|         3|  2000|
|    4|Thomas|         3|  4000|
+-----+------+----------+------+

+-----+-----+
|empId|bonus|
+-----+-----+
|    2|  500|
|    4| 2000|
+-----+-----+

In [0]:
# QUESTION 11: SPARK
df11_employee.join(df11_bonus, df11_employee["empId"] == df11_bonus["empId"], "left")\
    .filter((df11_bonus["bonus"]<1000) | (df11_bonus["bonus"].isNull()))\
        .select(df11_employee["name"], df11_bonus["bonus"]).show()

+----+-----+
|name|bonus|
+----+-----+
|Brad| null|
|John| null|
| Dan|  500|
+----+-----+

In [0]:
# QUESTION 11: SQL

df11_employee.createOrReplaceTempView("df11_emp_tbl")
df11_bonus.createOrReplaceTempView("df_bonus_tbl")

spark.sql('''
          select e.name, b.bonus from df11_emp_tbl e left join df_bonus_tbl b on e.empId=b.empId 
          where (b.bonus<1000 or b.bonus IS NULL)
          ''').show()

+----+-----+
|name|bonus|
+----+-----+
|Brad| null|
|John| null|
| Dan|  500|
+----+-----+

### QUESTION 12: Students and Examinations

In [0]:
df12_students_data = [
    (1, "Alice"),
    (2, "Bob"),
    (13, "John"),
    (6, "Alex")
]
df12_students_schema = ["student_id", "student_name"]

df12_subjects_data = [
    ("Math",),
    ("Physics",),
    ("Programming",)
]
df12_subjects_schema = ["subject_name"]

df12_examinations_data = [
    (1, "Math"),
    (1, "Physics"),
    (1, "Programming"),
    (2, "Programming"),
    (1, "Physics"),
    (1, "Math"),
    (13, "Math"),
    (13, "Programming"),
    (13, "Physics"),
    (2, "Math"),
    (1, "Math")
]
df12_examinations_schema = ["student_id", "subject_name"]

# Write a solution to find the number of times each student attended each exam.
# Return the result table ordered by student_id and subject_name.
# The result table should contain all students and all subjects.

df12_students = spark.createDataFrame(df12_students_data, df12_students_schema)
df12_subjects = spark.createDataFrame(df12_subjects_data, df12_subjects_schema)
df12_exams = spark.createDataFrame(df12_examinations_data, df12_examinations_schema)

df12_students.show()
df12_subjects.show()
df12_exams.show()

+----------+------------+
|student_id|student_name|
+----------+------------+
|         1|       Alice|
|         2|         Bob|
|        13|        John|
|         6|        Alex|
+----------+------------+

+------------+
|subject_name|
+------------+
|        Math|
|     Physics|
| Programming|
+------------+

+----------+------------+
|student_id|subject_name|
+----------+------------+
|         1|        Math|
|         1|     Physics|
|         1| Programming|
|         2| Programming|
|         1|     Physics|
|         1|        Math|
|        13|        Math|
|        13| Programming|
|        13|     Physics|
|         2|        Math|
|         1|        Math|
+----------+------------+

In [0]:
# QUESTION 12: SPARK

df12_students.crossJoin(df12_subjects).alias("df12_ss")\
    .join(df12_exams, (col("df12_ss.student_id") == df12_exams["student_id"]) & (col("df12_ss.subject_name") == df12_exams["subject_name"]), "left")\
        .groupBy("df12_ss.student_id", "df12_ss.student_name", "df12_ss.subject_name").agg(sum(when (df12_exams["student_id"].isNull(), 0).otherwise(1)).alias("attended_exams"))\
            .orderBy("df12_ss.student_id", "df12_ss.subject_name").show()

+----------+------------+------------+--------------+
|student_id|student_name|subject_name|attended_exams|
+----------+------------+------------+--------------+
|         1|       Alice|        Math|             3|
|         1|       Alice|     Physics|             2|
|         1|       Alice| Programming|             1|
|         2|         Bob|        Math|             1|
|         2|         Bob|     Physics|             0|
|         2|         Bob| Programming|             1|
|         6|        Alex|        Math|             0|
|         6|        Alex|     Physics|             0|
|         6|        Alex| Programming|             0|
|        13|        John|        Math|             1|
|        13|        John|     Physics|             1|
|        13|        John| Programming|             1|
+----------+------------+------------+--------------+

In [0]:
# QUESTION 12: SQL

df12_students.createOrReplaceTempView("df12_students_tbl")
df12_subjects.createOrReplaceTempView("df12_subjects_tbl")
df12_exams.createOrReplaceTempView("df12_exams_tbl")

spark.sql('''
          select a.student_id, a.student_name,a.subject_name , sum (case when b.student_id IS NULL then 0 else 1 end) as attended_exams
          from (select * from df12_students_tbl, df12_subjects_tbl) as a left join df12_exams_tbl as b on a.student_id=b.student_id and a.subject_name=b.subject_name
          group by a.student_id, a.student_name,a.subject_name
          order by a.student_id, a.subject_name
          ''').show()

+----------+------------+------------+--------------+
|student_id|student_name|subject_name|attended_exams|
+----------+------------+------------+--------------+
|         1|       Alice|        Math|             3|
|         1|       Alice|     Physics|             2|
|         1|       Alice| Programming|             1|
|         2|         Bob|        Math|             1|
|         2|         Bob|     Physics|             0|
|         2|         Bob| Programming|             1|
|         6|        Alex|        Math|             0|
|         6|        Alex|     Physics|             0|
|         6|        Alex| Programming|             0|
|        13|        John|        Math|             1|
|        13|        John|     Physics|             1|
|        13|        John| Programming|             1|
+----------+------------+------------+--------------+

### QUESTION 13: Managers with at Least 5 Direct Reports

In [0]:
df13_employee_data = [
    (101, "John", "A", None),
    (102, "Dan", "A", 101),
    (103, "James", "A", 101),
    (104, "Amy", "A", 101),
    (105, "Anne", "A", 101),
    (106, "Ron", "B", 101)
]
df13_employee_schema = ["id", "name", "department", "managerId"]

# Write a solution to find managers with at least five direct reports.

df13 = spark.createDataFrame(data = df13_employee_data, schema = df13_employee_schema)
df13.show()

+---+-----+----------+---------+
| id| name|department|managerId|
+---+-----+----------+---------+
|101| John|         A|     null|
|102|  Dan|         A|      101|
|103|James|         A|      101|
|104|  Amy|         A|      101|
|105| Anne|         A|      101|
|106|  Ron|         B|      101|
+---+-----+----------+---------+

In [0]:
# QUESTION 13: SPARK

df13.alias("df13_a").join(df13.alias("df13_b"), (col("df13_a.id") == col("df13_b.managerId")), "inner")\
    .groupBy("df13_a.id", "df13_a.name").agg(count("df13_a.id").alias("count_manager"))\
        .filter(col("count_manager")>=5)\
            .select("df13_a.name").show()

+----+
|name|
+----+
|John|
+----+

In [0]:
# QUESTION 13: SQL

df13.createOrReplaceTempView("df13_tbl")

spark.sql('''
          select name from df13_tbl where id IN( 
        select managerId from df13_tbl group by managerId having count(*)>=5);
          ''').show()

spark.sql('''
        select a.name from df13_tbl a inner join df13_tbl b on a.id=b.managerId
        group by a.id, a.name having  count(a.id)>=5;
          ''').show()

+----+
|name|
+----+
|John|
+----+

+----+
|name|
+----+
|John|
+----+

### QUESTION 14: Confirmation Rate

In [0]:
# Signups table
df14_signups_data = [
    (3, "2020-03-21 10:16:13"),
    (7, "2020-01-04 13:57:59"),
    (2, "2020-07-29 23:09:44"),
    (6, "2020-12-09 10:39:37")
]
df14_signups_schema = ["user_id", "time_stamp"]

# Confirmations table
df14_confirmations_data = [
    (3, "2021-01-06 03:30:46", "timeout"),
    (3, "2021-07-14 14:00:00", "timeout"),
    (7, "2021-06-12 11:57:29", "confirmed"),
    (7, "2021-06-13 12:58:28", "confirmed"),
    (7, "2021-06-14 13:59:27", "confirmed"),
    (2, "2021-01-22 00:00:00", "confirmed"),
    (2, "2021-02-28 23:59:59", "timeout")
]
df14_confirmations_schema = ["user_id", "time_stamp", "action"]

# The confirmation rate of a user is the number of 'confirmed' messages divided by the total number of requested confirmation messages. 
# The confirmation rate of a user that did not request any confirmation messages is 0. 
# Round the confirmation rate to two decimal places.

# Write a solution to find the confirmation rate of each user.
df14_signup = spark.createDataFrame(df14_signups_data, df14_signups_schema)
df14_confirm = spark.createDataFrame(df14_confirmations_data, df14_confirmations_schema)

df14_signup.show()
df14_confirm.show()

+-------+-------------------+
|user_id|         time_stamp|
+-------+-------------------+
|      3|2020-03-21 10:16:13|
|      7|2020-01-04 13:57:59|
|      2|2020-07-29 23:09:44|
|      6|2020-12-09 10:39:37|
+-------+-------------------+

+-------+-------------------+---------+
|user_id|         time_stamp|   action|
+-------+-------------------+---------+
|      3|2021-01-06 03:30:46|  timeout|
|      3|2021-07-14 14:00:00|  timeout|
|      7|2021-06-12 11:57:29|confirmed|
|      7|2021-06-13 12:58:28|confirmed|
|      7|2021-06-14 13:59:27|confirmed|
|      2|2021-01-22 00:00:00|confirmed|
|      2|2021-02-28 23:59:59|  timeout|
+-------+-------------------+---------+

In [0]:
# QUESTION 14: SPARK

df14_signup.join(df14_confirm, df14_signup["user_id"] == df14_confirm["user_id"], "left")\
  .groupBy(df14_signup["user_id"]).agg( round(sum(when( df14_confirm["action"] == "confirmed", 1).otherwise (0)) / count("*") ,2).alias("confirmation_rate"))\
    .show()

+-------+-----------------+
|user_id|confirmation_rate|
+-------+-----------------+
|      3|              0.0|
|      7|              1.0|
|      2|              0.5|
|      6|              0.0|
+-------+-----------------+

In [0]:
# QUESTION 14: SQL

df14_signup.createOrReplaceTempView("d14_signup_tbl")
df14_confirm.createOrReplaceTempView("d14_confirm_tbl")

spark.sql('''
          select s.user_id, round(sum(case when c.action="confirmed" then 1 else 0 end)/count(*),2) as confirmation_rate 
          from d14_signup_tbl s left join d14_confirm_tbl c on s.user_id=c.user_id
          group by s.user_id
          ''').show()

+-------+-----------------+
|user_id|confirmation_rate|
+-------+-----------------+
|      3|              0.0|
|      7|              1.0|
|      2|              0.5|
|      6|              0.0|
+-------+-----------------+

### QUESTION 15: Not Boring Movies

In [0]:
df15_cinema_data = [
    (1, "War", "great 3D", 8.9),
    (2, "Science", "fiction", 8.5),
    (3, "irish", "boring", 6.2),
    (4, "Ice song", "Fantacy", 8.6),
    (5, "House card", "Interesting", 9.1)
]
df15_cinema_schema = ["id", "movie", "description", "rating"]

df15 = spark.createDataFrame(df15_cinema_data, df15_cinema_schema)

# Write a solution to report the movies with an odd-numbered ID and a description that is not "boring".
# Return the result table ordered by rating in descending order.

df15.show()

+---+----------+-----------+------+
| id|     movie|description|rating|
+---+----------+-----------+------+
|  1|       War|   great 3D|   8.9|
|  2|   Science|    fiction|   8.5|
|  3|     irish|     boring|   6.2|
|  4|  Ice song|    Fantacy|   8.6|
|  5|House card|Interesting|   9.1|
+---+----------+-----------+------+

In [0]:
# QUESTION 15: SPARK

df15.select("*")\
    .filter((col("id")%2==1) & (col("description")!="boring"))\
        .orderBy(desc("rating")).show()

+---+----------+-----------+------+
| id|     movie|description|rating|
+---+----------+-----------+------+
|  5|House card|Interesting|   9.1|
|  1|       War|   great 3D|   8.9|
+---+----------+-----------+------+

In [0]:
# QUESTION 15: SQL

df15.createOrReplaceTempView("d15_tbl")

spark.sql('''
          select * 
            from d15_tbl where (id%2)=1 and description <> "boring"
            order by rating desc;
          ''').show()

+---+----------+-----------+------+
| id|     movie|description|rating|
+---+----------+-----------+------+
|  5|House card|Interesting|   9.1|
|  1|       War|   great 3D|   8.9|
+---+----------+-----------+------+

### QUESTION 16: Average Selling Price

In [0]:
df16_prices_data = [
    (1, "2019-02-17", "2019-02-28", 5),
    (1, "2019-03-01", "2019-03-22", 20),
    (2, "2019-02-01", "2019-02-20", 15),
    (2, "2019-02-21", "2019-03-31", 30)
]
df16_prices_schema = ["product_id", "start_date", "end_date", "price"]

df16_units_sold_data = [
    (1, "2019-02-25", 100),
    (1, "2019-03-01", 15),
    (2, "2019-02-10", 200),
    (2, "2019-03-22", 30)
]
df16_units_sold_schema = ["product_id", "purchase_date", "units"]

# Write a solution to find the average selling price for each product. average_price should be rounded to 2 decimal places. If a product does not have any sold units, its average selling price is assumed to be 0.

df16_prices = spark.createDataFrame(df16_prices_data, df16_prices_schema)
df16_units = spark.createDataFrame(df16_units_sold_data, df16_units_sold_schema)

df16_prices.show()
df16_units.show()

+----------+----------+----------+-----+
|product_id|start_date|  end_date|price|
+----------+----------+----------+-----+
|         1|2019-02-17|2019-02-28|    5|
|         1|2019-03-01|2019-03-22|   20|
|         2|2019-02-01|2019-02-20|   15|
|         2|2019-02-21|2019-03-31|   30|
+----------+----------+----------+-----+

+----------+-------------+-----+
|product_id|purchase_date|units|
+----------+-------------+-----+
|         1|   2019-02-25|  100|
|         1|   2019-03-01|   15|
|         2|   2019-02-10|  200|
|         2|   2019-03-22|   30|
+----------+-------------+-----+

In [0]:
# QUESTION 16: SPARK

df16_units.join(df16_prices, (df16_units["product_id"] == df16_prices["product_id"]) & (df16_units["purchase_date"] >= df16_prices["start_date"]) & (df16_units["purchase_date"] <= df16_prices["end_date"]))\
    .groupBy(df16_units["product_id"]).agg(round((sum(df16_units["units"] * df16_prices["price"])) / (sum(df16_units["units"])),2).alias("average_price"))\
        .show()

+----------+-------------+
|product_id|average_price|
+----------+-------------+
|         1|         6.96|
|         2|        16.96|
+----------+-------------+

In [0]:
# QUESTION 16: SQL

df16_prices.createOrReplaceTempView("d16_prices_tbl")
df16_units.createOrReplaceTempView("d16_units_tbl")
spark.sql('''
          select u.product_id, round(sum(u.units*p.price)/(sum(u.units)),2) as average_price
        from d16_prices_tbl p inner join d16_units_tbl u on p.product_id=u.product_id
        and u.purchase_date>=p.start_date and u.purchase_date<= p.end_date
        group by u.product_id;
          ''').show()

+----------+-------------+
|product_id|average_price|
+----------+-------------+
|         1|         6.96|
|         2|        16.96|
+----------+-------------+

### QUESTION 17: Project Employees I

In [0]:
df17_project_data = [
    (1, 1),
    (1, 2),
    (1, 3),
    (2, 1),
    (2, 4)
]
df17_project_schema = ["project_id", "employee_id"]

df17_employee_data = [
    (1, "Khaled", 3),
    (2, "Ali", 2),
    (3, "John", 1),
    (4, "Doe", 2)
]
df17_employee_schema = ["employee_id", "name", "experience_years"]

df17_project = spark.createDataFrame(df17_project_data, df17_project_schema)
df17_employee = spark.createDataFrame(df17_employee_data, df17_employee_schema)

# Write an SQL query that reports the average experience years of all the employees for each project, rounded to 2 digits.

df17_project.show()
df17_employee.show()

+----------+-----------+
|project_id|employee_id|
+----------+-----------+
|         1|          1|
|         1|          2|
|         1|          3|
|         2|          1|
|         2|          4|
+----------+-----------+

+-----------+------+----------------+
|employee_id|  name|experience_years|
+-----------+------+----------------+
|          1|Khaled|               3|
|          2|   Ali|               2|
|          3|  John|               1|
|          4|   Doe|               2|
+-----------+------+----------------+

In [0]:
# QUESTION 17: SPARK

df17_project.join(df17_employee, df17_project["employee_id"] == df17_employee["employee_id"], "inner")\
    .groupBy(df17_project["project_id"]).agg(round(avg(df17_employee["experience_years"]),2).alias("average_years")).show()

+----------+-------------+
|project_id|average_years|
+----------+-------------+
|         1|          2.0|
|         2|          2.5|
+----------+-------------+

In [0]:
# QUESTION 17: SQL
df17_employee.createOrReplaceTempView("df17_emp_tbl")
df17_project.createOrReplaceTempView("df17_pro_tbl")

spark.sql('''
          SELECT p.project_id, ROUND(avg(e.experience_years), 2) as average_years
            from df17_pro_tbl p inner join df17_emp_tbl e 
            on p.employee_id=e.employee_id
            group by p.project_id;
          ''').show()

+----------+-------------+
|project_id|average_years|
+----------+-------------+
|         1|          2.0|
|         2|          2.5|
+----------+-------------+

### QUESTION 18: Percentage of Users Attended a Contest

In [0]:
df18_users_data = [
    (6, "Alice"),
    (2, "Bob"),
    (7, "Alex")
]
df18_users_schema = ["user_id", "user_name"]

df18_register_data = [
    (215, 6), (209, 2), (208, 2), (210, 6),
    (208, 6), (209, 7), (209, 6), (215, 7),
    (208, 7), (210, 2), (207, 2), (210, 7)
]
df18_register_schema = ["contest_id", "user_id"]

df18_users = spark.createDataFrame(df18_users_data, df18_users_schema)
df18_register = spark.createDataFrame(df18_register_data, df18_register_schema)

df18_users.show()
df18_register.show()

+-------+---------+
|user_id|user_name|
+-------+---------+
|      6|    Alice|
|      2|      Bob|
|      7|     Alex|
+-------+---------+

+----------+-------+
|contest_id|user_id|
+----------+-------+
|       215|      6|
|       209|      2|
|       208|      2|
|       210|      6|
|       208|      6|
|       209|      7|
|       209|      6|
|       215|      7|
|       208|      7|
|       210|      2|
|       207|      2|
|       210|      7|
+----------+-------+

In [0]:
# QUESTION 18: SPARK

# df18_register.groupBy("contest_id").agg(count("*") / df18_users.select(count("*")) ).show()
# You cannot place a full DataFrame operation (select(count(*))) inside an aggregation function directly like that.

print(df18_users.select(count("*")).show())

# ACCESSING VALUES IN SPARK
print(df18_users.select("*"))
print(df18_users.select("*").count())

print(df18_users.select("*").collect())

print(df18_users.select("*").collect()[-1:])
print(df18_users.select("*").collect()[0][0])
# So,
total_users = df18_users.count()
print(total_users)

df18_register.groupBy("contest_id").agg(round((count("*") /total_users) * 100,2).alias("percentage") )\
    .sort(col("percentage").desc(), col("contest_id")).show()

+--------+
|count(1)|
+--------+
|       3|
+--------+

None
DataFrame[user_id: bigint, user_name: string]
3
[Row(user_id=6, user_name='Alice'), Row(user_id=2, user_name='Bob'), Row(user_id=7, user_name='Alex')]
[Row(user_id=7, user_name='Alex')]
6
3
+----------+----------+
|contest_id|percentage|
+----------+----------+
|       208|     100.0|
|       209|     100.0|
|       210|     100.0|
|       215|     66.67|
|       207|     33.33|
+----------+----------+

In [0]:
# QUESTION 18: SQL

df18_users.createOrReplaceTempView("df18_users_tbl")
df18_register.createOrReplaceTempView("df18_register_tbl")

spark.sql('''
          select r.contest_id, round(count(r.user_id)/ (select count(distinct user_id) from df18_users_tbl)*100, 2) as percentage
            from df18_register_tbl r
            group by r.contest_id
            order by percentage desc, r.contest_id;
          ''').show()

+----------+----------+
|contest_id|percentage|
+----------+----------+
|       208|     100.0|
|       209|     100.0|
|       210|     100.0|
|       215|     66.67|
|       207|     33.33|
+----------+----------+

### QUESTION 19: Queries Quality and Percentage

In [0]:
df19_queries_data = [
    ("Dog", "Golden Retriever", 1, 5),
    ("Dog", "German Shepherd", 2, 5),
    ("Dog", "Mule", 200, 1),
    ("Cat", "Shirazi", 5, 2),
    ("Cat", "Siamese", 3, 3),
    ("Cat", "Sphynx", 7, 4)
]
df19_queries_schema = ["query_name", "result", "position", "rating"]

# We define query quality as: The average of the ratio between query rating and its position.
# We also define poor query percentage as: The percentage of all queries with rating less than 3.
# Write a solution to find each query_name, the quality and poor_query_percentage.
# Both quality and poor_query_percentage should be rounded to 2 decimal places.

df19 = spark.createDataFrame(data=df19_queries_data, schema=df19_queries_schema)
df19.show()

+----------+----------------+--------+------+
|query_name|          result|position|rating|
+----------+----------------+--------+------+
|       Dog|Golden Retriever|       1|     5|
|       Dog| German Shepherd|       2|     5|
|       Dog|            Mule|     200|     1|
|       Cat|         Shirazi|       5|     2|
|       Cat|         Siamese|       3|     3|
|       Cat|          Sphynx|       7|     4|
+----------+----------------+--------+------+

In [0]:
# QUESTION 19: SPARK

# df19.groupBy(col("query_name")).agg(round(sum( (col("rating"))/(col("position")) ) / (count("*")),2).alias("quality"))    .agg((sum(when(col("rating")<3, 1).otherwise(0))/(count("*"))*100).alias("poor_query_percentage")).show()

#Chaining .agg() twice is INCORRECT. Instead use one .agg() with multiple metrics

df19.groupBy(col("query_name")).agg(round(avg( (col("rating"))/(col("position")) ),2).alias("quality") , round(avg(when(col("rating")<3, 1).otherwise(0))*100, 2).alias("poor_query_percentage")).show()

+----------+-------+---------------------+
|query_name|quality|poor_query_percentage|
+----------+-------+---------------------+
|       Dog|    2.5|                33.33|
|       Cat|   0.66|                33.33|
+----------+-------+---------------------+

In [0]:
# QUESTION 19: SQL

df19.createOrReplaceTempView("df19_tbl")

spark.sql('''
          select query_name, avg(rating/position) as quality, round(avg(case when rating<3 then 1 else 0 end),2) as poor_query_percentage from df19_tbl
          group by query_name
          ''').show()

+----------+------------------+---------------------+
|query_name|           quality|poor_query_percentage|
+----------+------------------+---------------------+
|       Dog|2.5016666666666665|                 0.33|
|       Cat|0.6571428571428571|                 0.33|
+----------+------------------+---------------------+

### QUESTION 20: Monthly Transactions I

In [0]:
df20_transaction_data = [
    (121, "US", "approved", 1000, "2018-12-18"),
    (122, "US", "declined", 2000, "2018-12-19"),
    (123, "US", "approved", 2000, "2019-01-01"),
    (124, "DE", "approved", 2000, "2019-01-07"),
]

df20_transaction_schema = ["id", "country", "state", "amount", "trans_date"]

# Write an SQL query to find for each month and country, the number of transactions and their total amount, the number of approved transactions and their total amount.

df20 = spark.createDataFrame(data=df20_transaction_data, schema=df20_transaction_schema)
df20.show()

+---+-------+--------+------+----------+
| id|country|   state|amount|trans_date|
+---+-------+--------+------+----------+
|121|     US|approved|  1000|2018-12-18|
|122|     US|declined|  2000|2018-12-19|
|123|     US|approved|  2000|2019-01-01|
|124|     DE|approved|  2000|2019-01-07|
+---+-------+--------+------+----------+

In [0]:
# QUESTION 20: SPARK

# to_date -> converts a string column to date format
# date_format -> does formatting on date column

df20.withColumn("trans_date_dm", date_format(col("trans_date"), "yyyy-MM"))\
    .groupBy(col("trans_date_dm"), col("country")).agg(count("*").alias("trans_count"), sum(when(col("state")=="approved", 1).otherwise(0)).alias("approved_count"), sum(col("amount")).alias("trans_total_amount"), sum(when(col("state") == "approved", col("amount")).otherwise(0)).alias("approved_total_amount")   ).show()

+-------------+-------+-----------+--------------+------------------+---------------------+
|trans_date_dm|country|trans_count|approved_count|trans_total_amount|approved_total_amount|
+-------------+-------+-----------+--------------+------------------+---------------------+
|      2018-12|     US|          2|             1|              3000|                 1000|
|      2019-01|     US|          1|             1|              2000|                 2000|
|      2019-01|     DE|          1|             1|              2000|                 2000|
+-------------+-------+-----------+--------------+------------------+---------------------+

In [0]:
# QUESTION 20: SQL
df20.createOrReplaceTempView("d20_tbl")

spark.sql('''
          select date_format(trans_date, "yyyy-MM") as trans_date_m, country, count(*) as trans_count, sum(case when state="approved" then 1 else 0 end) as approved_count,
          sum(amount) as trans_total_amount, sum(case when state="approved" then amount else 0 end) as approved_total_amount 
          from d20_tbl
          group by trans_date_m, country
          ''').show()

+------------+-------+-----------+--------------+------------------+---------------------+
|trans_date_m|country|trans_count|approved_count|trans_total_amount|approved_total_amount|
+------------+-------+-----------+--------------+------------------+---------------------+
|     2018-12|     US|          2|             1|              3000|                 1000|
|     2019-01|     US|          1|             1|              2000|                 2000|
|     2019-01|     DE|          1|             1|              2000|                 2000|
+------------+-------+-----------+--------------+------------------+---------------------+

### QUESTION 21: Immediate Food Delivery II

**SELF JOIN RULES**

In a join between two DataFrames with overlapping column names (like customer_id or order_date), Spark needs you to disambiguate where the column comes from.
Otherwise, it throws an AnalysisException: Column ... are ambiguous.

In [0]:
# Join a DataFrame to itself (or to another with overlapping column names), and select columns.

data = [
    (1, "2023-01-01"),
    (2, "2023-01-02"),
    (1, "2023-01-03")
]
schema = ["customer_id", "order_date"]

df = spark.createDataFrame(data, schema)
df.show()

# DO NO DO THE BELOW: 
# df.join(df, df["customer_id"] == df["customer_id"]).select("customer_id", "order_date").show()

# Correct Way: Use .alias() to disambiguate
df1 = df.alias("a")
df2 = df.alias("b")

df1.join(df2, col("a.customer_id") == col("b.customer_id")) \
   .select(col("a.customer_id"), col("a.order_date").alias("left_order"), col("b.order_date").alias("right_order")) \
   .show()

+-----------+----------+
|customer_id|order_date|
+-----------+----------+
|          1|2023-01-01|
|          2|2023-01-02|
|          1|2023-01-03|
+-----------+----------+

+-----------+----------+-----------+
|customer_id|left_order|right_order|
+-----------+----------+-----------+
|          1|2023-01-01| 2023-01-01|
|          1|2023-01-01| 2023-01-03|
|          1|2023-01-03| 2023-01-01|
|          1|2023-01-03| 2023-01-03|
|          2|2023-01-02| 2023-01-02|
+-----------+----------+-----------+

In [0]:
d21_delivery_data = [
    (1, 1, "2019-08-01", "2019-08-02"),
    (2, 2, "2019-08-02", "2019-08-02"),
    (3, 1, "2019-08-11", "2019-08-12"),
    (4, 3, "2019-08-24", "2019-08-24"),
    (5, 3, "2019-08-21", "2019-08-22"),
    (6, 2, "2019-08-11", "2019-08-13"),
    (7, 4, "2019-08-09", "2019-08-09"),
]

d21_delivery_schema = ["delivery_id", "customer_id", "order_date", "customer_pref_delivery_date"]

# If the customer's preferred delivery date is the same as the order date, then the order is called immediate; otherwise, it is called scheduled.
# The first order of a customer is the order with the earliest order date that the customer made. It is guaranteed that a customer has precisely one first order.
# Write a solution to find the percentage of immediate orders in the first orders of all customers, rounded to 2 decimal places.

df21 = spark.createDataFrame(data=d21_delivery_data, schema=d21_delivery_schema)

df21.show()

+-----------+-----------+----------+---------------------------+
|delivery_id|customer_id|order_date|customer_pref_delivery_date|
+-----------+-----------+----------+---------------------------+
|          1|          1|2019-08-01|                 2019-08-02|
|          2|          2|2019-08-02|                 2019-08-02|
|          3|          1|2019-08-11|                 2019-08-12|
|          4|          3|2019-08-24|                 2019-08-24|
|          5|          3|2019-08-21|                 2019-08-22|
|          6|          2|2019-08-11|                 2019-08-13|
|          7|          4|2019-08-09|                 2019-08-09|
+-----------+-----------+----------+---------------------------+

In [0]:
# QUESTION 21: SPARK

from pyspark.sql.window import Window

window = Window.partitionBy(col("customer_id")).orderBy(col("order_date"))

df21.withColumn("rank_delivery", rank().over(window))\
    .filter(col("rank_delivery") == 1)\
        .withColumn("type", when(col("order_date") == col("customer_pref_delivery_date"), "immediate").otherwise("scheduled"))\
            .groupBy().agg((sum(when(col("type")=="immediate", 1).otherwise(0))/count("*")).alias("immediate_percentage")).show()

+--------------------+
|immediate_percentage|
+--------------------+
|                 0.5|
+--------------------+

In [0]:

# OPTION 2

a = df21.groupBy(col("customer_id")).agg(min(col("order_date")).alias("first_order"))
print(type(a))
a.show()
a.join(df21.alias("b"), (col("b.customer_id") == a["customer_id"]) & (col("b.order_date") == a["first_order"]), "inner")\
    .select(round(sum(when(col("b.order_date") == col("b.customer_pref_delivery_date"), 1).otherwise(0))/ count("*"),2).alias("immediate_percentage")).show()

<class 'pyspark.sql.dataframe.DataFrame'>
+-----------+-----------+
|customer_id|first_order|
+-----------+-----------+
|          1| 2019-08-01|
|          2| 2019-08-02|
|          3| 2019-08-21|
|          4| 2019-08-09|
+-----------+-----------+

+--------------------+
|immediate_percentage|
+--------------------+
|                 0.5|
+--------------------+

In [0]:
# QUESTION 21: SQL

df21.createOrReplaceTempView("df21_tbl")

spark.sql('''
          select round(avg(case when order_date= customer_pref_delivery_date then 1 else 0 end),2) as immediate_percentage
          from df21_tbl where (customer_id, order_date) IN (
          select customer_id, min(order_date) as first_order from df21_tbl group by customer_id)
          ''').show()

+--------------------+
|immediate_percentage|
+--------------------+
|                 0.5|
+--------------------+

In [0]:
data = [
    (1, "2023-01-01"),
    (2, "2023-01-02"),
    (1, "2023-01-03")
]
schema = ["customer_id", "order_date"]

df = spark.createDataFrame(data, schema)
df.show()

+-----------+----------+
|customer_id|order_date|
+-----------+----------+
|          1|2023-01-01|
|          2|2023-01-02|
|          1|2023-01-03|
+-----------+----------+

### QUESTION 22: Game Play Analysis IV

In [0]:
d22_activity_data = [
    (1, 2, "2016-03-01", 5),
    (1, 2, "2016-03-02", 6),
    (2, 3, "2017-06-25", 1),
    (3, 1, "2016-03-02", 0),
    (3, 4, "2018-07-03", 5)
]

d22_activity_schema = ["player_id", "device_id", "event_date", "games_played"]

# Write a solution to report the fraction of players that logged in again on the day after the day they first logged in, rounded to 2 decimal places. In other words, you need to determine the number of players who logged in on the day immediately following their initial login, and divide it by the number of total players.

df22 = spark.createDataFrame(data= d22_activity_data, schema=d22_activity_schema)

df22.show()

+---------+---------+----------+------------+
|player_id|device_id|event_date|games_played|
+---------+---------+----------+------------+
|        1|        2|2016-03-01|           5|
|        1|        2|2016-03-02|           6|
|        2|        3|2017-06-25|           1|
|        3|        1|2016-03-02|           0|
|        3|        4|2018-07-03|           5|
+---------+---------+----------+------------+

In [0]:
# QUESTION 22: SPARK

df22_min = df22.groupBy(col("player_id")).agg(min(col("event_date")).alias("first_date")).alias("a")

df22.join(df22_min, (col("a.player_id") == df22["player_id"]) & (datediff(df22["event_date"], col("a.first_date")) ==1))\
    .select((count("*") / (df22.select(countDistinct(col("player_id"))).collect()[0][0])).alias("fraction")).show()

print(df22.select(countDistinct(col("player_id"))).collect()[0][0])

+------------------+
|          fraction|
+------------------+
|0.3333333333333333|
+------------------+

3

- print(df22.count()) is used to count lines in entire **dataframe**. 
- Count non-null values in a specific column:  df22.select(count("player_id")).show()
- Count distinct values in a column:  df22.select(countDistinct("player_id")).show()

All the above will give output as dataframes.
- To get value:  df22.select(count("player_id")).collect()[0][0]

In [0]:
# QUESTION 22: SQL
df22.createOrReplaceTempView("df22_tbl")

spark.sql('''
          select round(count(*)/(SELECT count(DISTINCT player_id) from df22_tbl),2) as fraction from df22_tbl a inner join
          (select player_id, min(event_date) as first_game from df22_tbl group by player_id) b 
          on a.player_id = b.player_id and date_diff(a.event_date, b.first_game)=1
          ''').show()

+--------+
|fraction|
+--------+
|    0.33|
+--------+

### QUESTION 23: Number of Unique Subjects Taught by Each Teacher

In [0]:
df23_teacher_data = [
    (1, 2, 3),
    (1, 2, 4),
    (1, 3, 3),
    (2, 1, 1),
    (2, 2, 1),
    (2, 3, 1),
    (2, 4, 1)
]

df23_teacher_schema = ["teacher_id", "subject_id", "dept_id"]

# Write a solution to calculate the number of unique subjects each teacher teaches in the university.

df23 = spark.createDataFrame(df23_teacher_data, schema=df23_teacher_schema)
df23.show()

+----------+----------+-------+
|teacher_id|subject_id|dept_id|
+----------+----------+-------+
|         1|         2|      3|
|         1|         2|      4|
|         1|         3|      3|
|         2|         1|      1|
|         2|         2|      1|
|         2|         3|      1|
|         2|         4|      1|
+----------+----------+-------+

In [0]:
# QUESTION 23: SPARK

df23.groupBy(col("teacher_id")).agg(countDistinct(col("subject_id")).alias("cnt")).show()

+----------+---+
|teacher_id|cnt|
+----------+---+
|         1|  2|
|         2|  4|
+----------+---+

In [0]:
# QUESTION 23: SQL

df23.createOrReplaceTempView("df23_tbl")

spark.sql('''
          select teacher_id, count(distinct subject_id) as cnt from df23_tbl
          group by teacher_id
          ''').show()

+----------+---+
|teacher_id|cnt|
+----------+---+
|         1|  2|
|         2|  4|
+----------+---+

### QUESTION 24: User Activity for the Past 30 Days I

In [0]:
df24_activity_data = [
    (1, 1, "2019-07-20", "open_session"),
    (1, 1, "2019-07-20", "scroll_down"),
    (1, 1, "2019-07-20", "end_session"),
    (2, 4, "2019-07-20", "open_session"),
    (2, 4, "2019-07-21", "send_message"),
    (2, 4, "2019-07-21", "end_session"),
    (3, 2, "2019-07-21", "open_session"),
    (3, 2, "2019-07-21", "send_message"),
    (3, 2, "2019-07-21", "end_session"),
    (4, 3, "2019-06-25", "open_session"),
    (4, 3, "2019-06-25", "end_session")
]

df24_activity_schema = ["user_id", "session_id", "activity_date", "activity_type"]

# Write a solution to find the daily active user count for a period of 30 days ending 2019-07-27 inclusively. A user was active on someday if they made at least one activity on that day.

df24 = spark.createDataFrame(df24_activity_data, df24_activity_schema)
df24.show()

+-------+----------+-------------+-------------+
|user_id|session_id|activity_date|activity_type|
+-------+----------+-------------+-------------+
|      1|         1|   2019-07-20| open_session|
|      1|         1|   2019-07-20|  scroll_down|
|      1|         1|   2019-07-20|  end_session|
|      2|         4|   2019-07-20| open_session|
|      2|         4|   2019-07-21| send_message|
|      2|         4|   2019-07-21|  end_session|
|      3|         2|   2019-07-21| open_session|
|      3|         2|   2019-07-21| send_message|
|      3|         2|   2019-07-21|  end_session|
|      4|         3|   2019-06-25| open_session|
|      4|         3|   2019-06-25|  end_session|
+-------+----------+-------------+-------------+

In [0]:
# QUESTION 24: SPARK

df24.groupBy("activity_date").agg(countDistinct(col("user_id")).alias("active_users"))\
    .sort(col("activity_date"))\
        .filter((col("activity_date")>= date_sub(lit('2019-07-27'),30))  &  (col("activity_date")<= '2019-07-27') ).show()

# lit('2019-07-27')  turns the date string into a column-like literal
# NOTE: Here date_sub(<column_name>, <int>)
# OR
# date_sub(lit('<date_string>'), <days:int>)
# Unlike SQL where <date: int> = INTERVAL 30 DAY

+-------------+------------+
|activity_date|active_users|
+-------------+------------+
|   2019-07-20|           2|
|   2019-07-21|           2|
+-------------+------------+

In [0]:
# QUESTION 24: SQL

df24.createOrReplaceTempView("df24_tbl")

spark.sql('''
          select activity_date, count(distinct user_id) as active_users from df24_tbl
          where activity_date<='2019-07-27' and activity_date>= date_sub('2019-07-27', 30)
          group by activity_date
          ''').show()

+-------------+------------+
|activity_date|active_users|
+-------------+------------+
|   2019-07-21|           2|
|   2019-07-20|           2|
+-------------+------------+

### QUESTION 25: Product Sales Analysis III

In [0]:
df25_sales_data = [
    (1, 100, 2008, 10, 5000),
    (2, 100, 2009, 12, 5000),
    (7, 200, 2011, 15, 9000)
]

df25_sales_schema = ["sale_id", "product_id", "year", "quantity", "price"]

# Write a solution to find all sales that occurred in the first year each product was sold.
# For each product_id, identify the earliest year it appears in the Sales table.
# Return all sales entries for that product in that year.
# Return a table with the following columns: product_id, first_year, quantity, and price.

df25 = spark.createDataFrame(df25_sales_data, df25_sales_schema)

# Write a solution to find all sales that occurred in the first year each product was sold.
# For each product_id, identify the earliest year it appears in the Sales table.
# Return all sales entries for that product in that year.
# Return a table with the following columns: product_id, first_year, quantity, and price.

df25.show()

+-------+----------+----+--------+-----+
|sale_id|product_id|year|quantity|price|
+-------+----------+----+--------+-----+
|      1|       100|2008|      10| 5000|
|      2|       100|2009|      12| 5000|
|      7|       200|2011|      15| 9000|
+-------+----------+----+--------+-----+

In [0]:
# QUESTION 25: SPARK
df25_min_year = df25.groupBy(col("product_id")).agg(min(col("year")).alias("first_year")).alias("a")

df25.join(df25_min_year, df25["year"] == col("a.first_year"))\
    .select(col("a.product_id"), col("a.first_year"), df25["quantity"], df25["price"]).show()

+----------+----------+--------+-----+
|product_id|first_year|quantity|price|
+----------+----------+--------+-----+
|       100|      2008|      10| 5000|
|       200|      2011|      15| 9000|
+----------+----------+--------+-----+

In [0]:
# QUESTION 25: SQL

df25.createOrReplaceTempView("df25_tbl")

spark.sql('''
          select product_id, year as first_year, quantity, price from df25_tbl where (product_id, year) IN
          (select product_id, min(year) from df25_tbl 
          group by product_id)
          ''').show()

+----------+----------+--------+-----+
|product_id|first_year|quantity|price|
+----------+----------+--------+-----+
|       100|      2008|      10| 5000|
|       200|      2011|      15| 9000|
+----------+----------+--------+-----+

### QUESTION 26: Classes With at Least 5 Students

In [0]:
df26_courses_data = [
    ("A", "Math"),
    ("B", "English"),
    ("C", "Math"),
    ("D", "Biology"),
    ("E", "Math"),
    ("F", "Computer"),
    ("G", "Math"),
    ("H", "Math"),
    ("I", "Math")
]

df26_courses_schema = ["student", "class"]

# Write a solution to find all the classes that have at least five students.

df26 = spark.createDataFrame(df26_courses_data, df26_courses_schema)
df26.show()

+-------+--------+
|student|   class|
+-------+--------+
|      A|    Math|
|      B| English|
|      C|    Math|
|      D| Biology|
|      E|    Math|
|      F|Computer|
|      G|    Math|
|      H|    Math|
|      I|    Math|
+-------+--------+

In [0]:
# QUESTION 26: SPARK

df26.groupBy(col("class")).agg(count(col("student")).alias("student_count"))\
    .filter(col("student_count")>=5)\
        .select(col("class")).show()

+-----+
|class|
+-----+
| Math|
+-----+

In [0]:
# QUESTION 26: SQL
df26.createOrReplaceTempView("df26_tbl")

spark.sql('''
          select class from df26_tbl
          group by class
          having count(student)>=5
          ''').show()

+-----+
|class|
+-----+
| Math|
+-----+

### QUESTION 27: Find Followers Count

In [0]:
df27_followers_data = [
    (0, 1),
    (1, 0),
    (2, 0),
    (2, 1)
]

df27_followers_schema = ["user_id", "follower_id"]

# Write a solution that will, for each user, return the number of followers.
# Return the result table ordered by user_id in ascending order.

df27 = spark.createDataFrame(df27_followers_data, df27_followers_schema)
df27.show()

+-------+-----------+
|user_id|follower_id|
+-------+-----------+
|      0|          1|
|      1|          0|
|      2|          0|
|      2|          1|
+-------+-----------+

In [0]:
# QUESTION 27: SPARK

df27.groupBy(col("user_id")).agg(count(col("follower_id")).alias("followers_count"))\
    .sort(col("user_id")).show()

+-------+---------------+
|user_id|followers_count|
+-------+---------------+
|      0|              1|
|      1|              1|
|      2|              2|
+-------+---------------+

In [0]:
# QUESTION 27: SQL

df27.createOrReplaceTempView("df27_tbl")

spark.sql('''
          select user_id, count(follower_id) as followers_count from df27_tbl
          group by user_id
          ''').show()

+-------+---------------+
|user_id|followers_count|
+-------+---------------+
|      0|              1|
|      1|              1|
|      2|              2|
+-------+---------------+

### QUESTION 28: Biggest Single Number

In [0]:
df28_1_mynumbers_data = [
    (8,),
    (8,),
    (3,),
    (3,),
    (1,),
    (4,),
    (5,),
    (6,)
]

df28_1_mynumbers_schema = ["num"]

# A single number is a number that appeared only once in the MyNumbers table.
# Find the largest single number. If there is no single number, report null.

df28_1 = spark.createDataFrame(df28_1_mynumbers_data, df28_1_mynumbers_schema)
df28_1.show()

+---+
|num|
+---+
|  8|
|  8|
|  3|
|  3|
|  1|
|  4|
|  5|
|  6|
+---+

In [0]:
# QUESTION 28: SPARK

# QUESTION 28: SPARK
df28_1.groupBy(col("num")).agg(count(col("num")).alias("freq"))\
    .sort(col("num").desc())\
        .filter(col("freq") == 1)\
            .select(first(col("num")).alias("num")).show()

+---+
|num|
+---+
|  6|
+---+

In [0]:
# QUESTION 28: SQL

df28_1.createOrReplaceTempView("df28_1_tbl")

spark.sql('''
          select(max(num)) from(
          select num from df28_1_tbl
          group by num
          having count(num)=1
          order by num desc
          LIMIT 1)
          ''').show()

+--------+
|max(num)|
+--------+
|       6|
+--------+

In [0]:
df28_2_mynumbers_data = [
    (8,),
    (8,),
    (7,),
    (7,),
    (3,),
    (3,),
    (3,)
]

df28_2_mynumbers_schema = ["num"]

# A single number is a number that appeared only once in the MyNumbers table.
# Find the largest single number. If there is no single number, report null.

df28_2 = spark.createDataFrame(df28_2_mynumbers_data, df28_2_mynumbers_schema)
df28_2.show()

+---+
|num|
+---+
|  8|
|  8|
|  7|
|  7|
|  3|
|  3|
|  3|
+---+

In [0]:
# QUESTION 28: SPARK
df28_2.groupBy(col("num")).agg(count(col("num")).alias("freq"))\
    .sort(col("num").desc())\
        .filter(col("freq") == 1)\
            .select(first(col("num")).alias("num")).show()

+----+
| num|
+----+
|null|
+----+

In [0]:
# QUESTION 28: SQL

df28_2.createOrReplaceTempView("df28_2_tbl")

spark.sql('''
          select(max(num)) from(
          select num from df28_2_tbl
          group by num
          having count(num)=1
          order by num desc
          LIMIT 1)
          ''').show()

# To get "null" use functions like max, min.

+--------+
|max(num)|
+--------+
|    null|
+--------+

### QUESTION 29: Customers Who Bought All Products

In [0]:
df29_customer_data = [
    (1, 5),
    (2, 6),
    (3, 5),
    (3, 6),
    (1, 6)
]

df29_customer_schema = ["customer_id", "product_key"]

df29_product_data = [
    (5,),
    (6,)
]

df29_product_schema = ["product_key"]

# Write a solution to report the customer ids from the Customer table that bought all the products in the Product table.

df29_product = spark.createDataFrame(df29_product_data, df29_product_schema)
df29_customer = spark.createDataFrame(df29_customer_data, df29_customer_schema)

df29_product.show()
df29_customer.show()

+-----------+
|product_key|
+-----------+
|          5|
|          6|
+-----------+

+-----------+-----------+
|customer_id|product_key|
+-----------+-----------+
|          1|          5|
|          2|          6|
|          3|          5|
|          3|          6|
|          1|          6|
+-----------+-----------+

In [0]:
# QUESTION 29: SPARK

# distinct and count on "DATAFRAME"
total_products = df29_product.distinct().count()
print(total_products)

df29_customer.groupBy(col("customer_id")).agg(countDistinct(col("product_key")).alias("cust_pro_count") )\
    .filter(col("cust_pro_count") == total_products)\
        .select(col("customer_id")).show()

2
+-----------+
|customer_id|
+-----------+
|          1|
|          3|
+-----------+

In [0]:
# QUESTION 29: SQL

df29_product.createOrReplaceTempView("df29_product_tbl")
df29_customer.createOrReplaceTempView("df29_customer_tbl")

spark.sql('''
          select customer_id from df29_customer_tbl
          group by customer_id having count(distinct(product_key)) = (select count(distinct product_key) from df29_product_tbl)
          ''').show()

+-----------+
|customer_id|
+-----------+
|          1|
|          3|
+-----------+

### QUESTION 30: The Number of Employees Which Report to Each Employee

In [0]:
df30_data = [
    (9, "Hercy", None, 43),
    (6, "Alice", 9, 41),
    (4, "Bob", 9, 36),
    (2, "Winston", None, 37)
]

df30_schema = ["employee_id", "name", "reports_to", "age"]

df30 = spark.createDataFrame(df30_data, df30_schema)

# For this problem, we will consider a manager an employee who has at least 1 other employee reporting to them.
# Write a solution to report the ids and the names of all managers, the number of employees who report directly to them, and the average age of the reports rounded to the nearest integer.
# Return the result table ordered by employee_id.

df30.show()

+-----------+-------+----------+---+
|employee_id|   name|reports_to|age|
+-----------+-------+----------+---+
|          9|  Hercy|      null| 43|
|          6|  Alice|         9| 41|
|          4|    Bob|         9| 36|
|          2|Winston|      null| 37|
+-----------+-------+----------+---+

In [0]:
# QUESTION 30: SPARK

df30_m = df30.alias("m")
df30_e = df30.alias("e")

employee = df30_e.groupBy(col("reports_to")).agg(count(col("reports_to")).alias("reports_count"), round(avg(col("age")),0).alias("average_age"))
employee.show()

employee.alias("e").join(df30_m, col("e.reports_to") == col("m.employee_id"))\
    .select(col("m.employee_id"), col("m.name"), col("e.reports_count"), col("e.average_age")).show()

+----------+-------------+-----------+
|reports_to|reports_count|average_age|
+----------+-------------+-----------+
|      null|            0|       40.0|
|         9|            2|       39.0|
+----------+-------------+-----------+

+-----------+-----+-------------+-----------+
|employee_id| name|reports_count|average_age|
+-----------+-----+-------------+-----------+
|          9|Hercy|            2|       39.0|
+-----------+-----+-------------+-----------+

In [0]:
# QUESTION 30: SQL

df30.createOrReplaceTempView("df30_tbl")
spark.sql('''
          select a.employee_id, a.name, b.reports_count, b.reports_count, b.average_age from df30_tbl as a inner join(
          select reports_to, count(reports_to) as reports_count, round(avg(age),0) as average_age from df30_tbl group by reports_to) b
          on a.employee_id=b.reports_to
          ''').show()

+-----------+-----+-------------+-------------+-----------+
|employee_id| name|reports_count|reports_count|average_age|
+-----------+-----+-------------+-------------+-----------+
|          9|Hercy|            2|            2|       39.0|
+-----------+-----+-------------+-------------+-----------+

In [0]:
# Sample data for DataFrame 30.2
df30_2_data = [
    (1, "Michael", None, 45),
    (2, "Alice", 1, 38),
    (3, "Bob", 1, 42),
    (4, "Charlie", 2, 34),
    (5, "David", 2, 40),
    (6, "Eve", 3, 37),
    (7, "Frank", None, 50),
    (8, "Grace", None, 48)
]

# Define schema
df30_2_schema = ["employee_id", "name", "reports_to", "age"]

# Create DataFrame
df30_2 = spark.createDataFrame(df30_2_data, df30_2_schema)

df30_2.show()

+-----------+-------+----------+---+
|employee_id|   name|reports_to|age|
+-----------+-------+----------+---+
|          1|Michael|      null| 45|
|          2|  Alice|         1| 38|
|          3|    Bob|         1| 42|
|          4|Charlie|         2| 34|
|          5|  David|         2| 40|
|          6|    Eve|         3| 37|
|          7|  Frank|      null| 50|
|          8|  Grace|      null| 48|
+-----------+-------+----------+---+

In [0]:
# QUESTION 30: SPARK

df30_manager = df30_2.alias("m")
df30_emp = df30_2.alias("e")

# manager = df30_manager.select(col("m.employee_id").alias("manager"))\
    # .filter(col("reports_to").isNull()).show()

employee = df30_emp.groupBy(col("reports_to")).agg(count(col("reports_to")).alias("reports_count"), round(avg(col("age")),0).alias("average_age"))
employee.show()

employee.alias("e").join(df30_manager, col("e.reports_to") == col("m.employee_id"))\
    .select(col("m.employee_id"), col("m.name"), col("e.reports_count"), col("e.average_age")).show()

+----------+-------------+-----------+
|reports_to|reports_count|average_age|
+----------+-------------+-----------+
|      null|            0|       48.0|
|         1|            2|       40.0|
|         2|            2|       37.0|
|         3|            1|       37.0|
+----------+-------------+-----------+

+-----------+-------+-------------+-----------+
|employee_id|   name|reports_count|average_age|
+-----------+-------+-------------+-----------+
|          1|Michael|            2|       40.0|
|          2|  Alice|            2|       37.0|
|          3|    Bob|            1|       37.0|
+-----------+-------+-------------+-----------+

In [0]:
# QUESTION 30: SPARK

df30_manager = df30_2.alias("mm")
df30_emp = df30_2.alias("ee")

df30_manager.join(df30_emp, col("mm.employee_id") == col("ee.reports_to"), "inner")\
    .groupBy(col("mm.employee_id"), col("mm.name")).agg(count("*").alias("reports_count"), round(avg(col("ee.age")),2).alias("average_age")).show()

+-----------+-------+-------------+-----------+
|employee_id|   name|reports_count|average_age|
+-----------+-------+-------------+-----------+
|          1|Michael|            2|       40.0|
|          2|  Alice|            2|       37.0|
|          3|    Bob|            1|       37.0|
+-----------+-------+-------------+-----------+

In [0]:
# QUESTION 30: SQL

df30_2.createOrReplaceTempView("df30_2_tbl")
spark.sql('''
          select a.employee_id, a.name, b.reports_count, b.average_age from df30_2_tbl as a inner join(
          select reports_to, count(reports_to) as reports_count, round(avg(age),0) as average_age from df30_2_tbl group by reports_to) b
          on a.employee_id=b.reports_to
          ''').show()


spark.sql('''
          select e.employee_id, e.name, count(*) as reports_count, round(avg(f.age),0) as average_age
            from df30_2_tbl e inner join df30_2_tbl f on e.employee_id=f.reports_to
            group by e.employee_id, e.name
            order by e.employee_id;
          ''').show()

+-----------+-------+-------------+-----------+
|employee_id|   name|reports_count|average_age|
+-----------+-------+-------------+-----------+
|          1|Michael|            2|       40.0|
|          2|  Alice|            2|       37.0|
|          3|    Bob|            1|       37.0|
+-----------+-------+-------------+-----------+

+-----------+-------+-------------+-----------+
|employee_id|   name|reports_count|average_age|
+-----------+-------+-------------+-----------+
|          1|Michael|            2|       40.0|
|          2|  Alice|            2|       37.0|
|          3|    Bob|            1|       37.0|
+-----------+-------+-------------+-----------+

### QUESTION 31: Primary Department for Each Employee

In [0]:
# Sample data for DataFrame 31
df31_data = [
    (1, 1, 'N'),
    (2, 1, 'Y'),
    (2, 2, 'N'),
    (3, 3, 'N'),
    (4, 2, 'N'),
    (4, 3, 'Y'),
    (4, 4, 'N')
]

# Define schema
df31_schema = ["employee_id", "department_id", "primary_flag"]

# Employees can belong to multiple departments. When the employee joins other departments, they need to decide which department is their primary department. Note that when an employee belongs to only one department, their primary column is 'N'.
# Write a solution to report all the employees with their primary department. For employees who belong to one department, report their only department.

df31 = spark.createDataFrame(df31_data, df31_schema)
df31.show()

+-----------+-------------+------------+
|employee_id|department_id|primary_flag|
+-----------+-------------+------------+
|          1|            1|           N|
|          2|            1|           Y|
|          2|            2|           N|
|          3|            3|           N|
|          4|            2|           N|
|          4|            3|           Y|
|          4|            4|           N|
+-----------+-------------+------------+

In [0]:
# QUESTION 31: SPARK

df31_1 = df31.select(col("employee_id"), col("department_id")).filter(col("primary_flag") == 'Y')

df31_2 = df31.groupBy(col("employee_id")).agg(count(col("department_id")).alias("count_dept")).filter(col("count_dept") == 1)\
    .join(df31, on="employee_id").select(col("employee_id"), col("department_id"))

df31_2.show()

df31_1.union(df31_2).show()

+-----------+-------------+
|employee_id|department_id|
+-----------+-------------+
|          1|            1|
|          3|            3|
+-----------+-------------+

+-----------+-------------+
|employee_id|department_id|
+-----------+-------------+
|          2|            1|
|          4|            3|
|          1|            1|
|          3|            3|
+-----------+-------------+

In [0]:
# QUESTION 31: SQL

df31.createOrReplaceTempView("df31_tbl")

# SLOW
spark.sql('''
          (select employee_id, department_id from df31_tbl where employee_id IN(
          select employee_id from df31_tbl group by employee_id having count(department_id)>1) AND primary_flag='Y')
          UNION
          (select employee_id, department_id from df31_tbl where employee_id IN(
          select employee_id from df31_tbl group by employee_id having count(department_id)=1))
          ''').show()


spark.sql('''
          select employee_id, department_id from df31_tbl where primary_flag='Y'
          union
          select employee_id, MAX(department_id) from df31_tbl group by employee_id having count(*) =1
          ''').show()

spark.sql('''
         select employee_id, department_id from df31_tbl where primary_flag='Y' OR employee_id IN (
             select employee_id from df31_tbl group by employee_id having count(employee_id) =1
         )
          ''').show()

+-----------+-------------+
|employee_id|department_id|
+-----------+-------------+
|          2|            1|
|          4|            3|
|          1|            1|
|          3|            3|
+-----------+-------------+

+-----------+-------------+
|employee_id|department_id|
+-----------+-------------+
|          2|            1|
|          4|            3|
|          1|            1|
|          3|            3|
+-----------+-------------+

+-----------+-------------+
|employee_id|department_id|
+-----------+-------------+
|          1|            1|
|          2|            1|
|          3|            3|
|          4|            3|
+-----------+-------------+

### QUESTION 32: Triangle Judgement

In [0]:
df32_data = [
    (13, 15, 30),
    (10, 20, 15)
]

df32_schema = ["x", "y", "z"]

df32 = spark.createDataFrame(df32_data, df32_schema)

# Report for every three line segments whether they can form a triangle.

df32.show()

+---+---+---+
|  x|  y|  z|
+---+---+---+
| 13| 15| 30|
| 10| 20| 15|
+---+---+---+

In [0]:
# QUESTION 32: SPARK

df32.select( "*", when(((col("x")+col("y") > col("z")) & (col("x")+col("z") > col("y")) & (col("y")+col("z") > col("x"))), "Yes").otherwise("No").alias("triangle") ).show()

+---+---+---+--------+
|  x|  y|  z|triangle|
+---+---+---+--------+
| 13| 15| 30|      No|
| 10| 20| 15|     Yes|
+---+---+---+--------+

In [0]:
# QUESTION 32: SQL

df32.createOrReplaceTempView("df32_tbl")
spark.sql('''
          select * , (case when ((x+y>z) and (y+z>x) and (z+x>y)) then "Yes" else "No" end) as triangle from df32_tbl
          ''').show()

+---+---+---+--------+
|  x|  y|  z|triangle|
+---+---+---+--------+
| 13| 15| 30|      No|
| 10| 20| 15|     Yes|
+---+---+---+--------+

### QUESTION 33: Consecutive Numbers

In [0]:
df33_data = [
    (1, "1"),
    (2, "1"),
    (3, "1"),
    (4, "2"),
    (5, "1"),
    (6, "2"),
    (7, "2")
]

df33_schema = ["id", "num"]

# Find all numbers that appear at least three times consecutively.

df33 = spark.createDataFrame(df33_data, df33_schema)

df33.show()

+---+---+
| id|num|
+---+---+
|  1|  1|
|  2|  1|
|  3|  1|
|  4|  2|
|  5|  1|
|  6|  2|
|  7|  2|
+---+---+

In [0]:
# QUESTION 33: SPARK

from pyspark.sql.window import Window

win = Window.orderBy(col("id"))

df33.withColumn("lead_1", lead(col("num")).over(win)).withColumn("lead_2", lead(col("num"),2).over(win)).show()

df33.withColumn("consecutiveNumbers", when(((col("num") == lead(col("num")).over(win))  & (col("num") == lead(col("num"),2).over(win))), col("num")))\
    .filter(col("consecutiveNumbers").isNotNull())\
        .select(col("consecutiveNumbers")).show()

+---+---+------+------+
| id|num|lead_1|lead_2|
+---+---+------+------+
|  1|  1|     1|     1|
|  2|  1|     1|     2|
|  3|  1|     2|     1|
|  4|  2|     1|     2|
|  5|  1|     2|     2|
|  6|  2|     2|  null|
|  7|  2|  null|  null|
+---+---+------+------+

+------------------+
|consecutiveNumbers|
+------------------+
|                 1|
+------------------+

In [0]:
# QUESTION 33: SQL

df33.createOrReplaceTempView("df33_tbl")

spark.sql('''
          select id, num, lead(num) over(order by id) as lead_1, lead(num,2)  over(order by id) as lead_2 
          from df33_tbl
          ''').show()

spark.sql('''
          select consecutiveNumbers from(
          select case when (num = lead(num) over(order by id) = lead(num,2)  over(order by id)) then num end as consecutiveNumbers
          from df33_tbl)  where consecutiveNumbers IS NOT NULL
          ''').show()

+---+---+------+------+
| id|num|lead_1|lead_2|
+---+---+------+------+
|  1|  1|     1|     1|
|  2|  1|     1|     2|
|  3|  1|     2|     1|
|  4|  2|     1|     2|
|  5|  1|     2|     2|
|  6|  2|     2|  null|
|  7|  2|  null|  null|
+---+---+------+------+

+------------------+
|consecutiveNumbers|
+------------------+
|                 1|
+------------------+

### QUESTION 34: Product Price at a Given Date

In [0]:
df34_data = [
    (1, 20, "2019-08-14"),
    (2, 50, "2019-08-14"),
    (1, 30, "2019-08-15"),
    (1, 35, "2019-08-16"),
    (2, 65, "2019-08-17"),
    (3, 20, "2019-08-18")
]

df34_schema = ["product_id", "new_price", "change_date"]

df34 = spark.createDataFrame(df34_data, df34_schema)

# Initially, all products have price 10.
# Write a solution to find the prices of all products on the date 2019-08-16.

df34.show()

+----------+---------+-----------+
|product_id|new_price|change_date|
+----------+---------+-----------+
|         1|       20| 2019-08-14|
|         2|       50| 2019-08-14|
|         1|       30| 2019-08-15|
|         1|       35| 2019-08-16|
|         2|       65| 2019-08-17|
|         3|       20| 2019-08-18|
+----------+---------+-----------+

In [0]:
# QUESTION 34: SPARK

df34_1 = df34.alias("a").filter(col("a.change_date")<= '2019-08-16').groupBy(col("a.product_id")).agg(max(col("a.change_date")).alias("max_date"))\
    .join(df34.alias("b"), (col("a.product_id") == col("b.product_id")) & (col("max_date") == col("b.change_date")))\
        .select(col("a.product_id"), col("b.new_price"))
df34_1.show()

df34_2 = df34.groupBy(col("product_id")).agg(min(col("change_date")).alias("min_date")).filter(col("min_date")> '2019-08-16').select(col("product_id"), lit(10).alias("new_price"))
df34_2.show()

df34_1.union(df34_2).show()

+----------+---------+
|product_id|new_price|
+----------+---------+
|         2|       50|
|         1|       35|
+----------+---------+

+----------+---------+
|product_id|new_price|
+----------+---------+
|         3|       10|
+----------+---------+

+----------+---------+
|product_id|new_price|
+----------+---------+
|         2|       50|
|         1|       35|
|         3|       10|
+----------+---------+

In [0]:
# QUESTION 34: SQL

df34.createOrReplaceTempView("df34_tbl")

spark.sql('''
          select product_id, new_price from df34_tbl where (product_id, change_date) IN (
          select product_id, max(change_date) as max_date from df34_tbl where change_date <= '2019-08-16' group by product_id)
          ''').show()

spark.sql('''
          select a.product_id, 10 as new_price from (
          SELECT product_id, min(change_date) as min_date FROM df34_tbl group by product_id order by product_id) a inner join df34_tbl b
          on a.product_id = b.product_id
          where a.min_date > '2019-08-16'
          ''').show()

spark.sql('''
          select product_id, new_price from df34_tbl where (product_id, change_date) IN (
          select product_id, max(change_date) as max_date from df34_tbl where change_date <= '2019-08-16' group by product_id)
          union
          select a.product_id, 10 as new_price from (
          SELECT product_id, min(change_date) as min_date FROM df34_tbl group by product_id order by product_id) a inner join df34_tbl b
          on a.product_id = b.product_id
          where a.min_date > '2019-08-16'
          ''').show()

+----------+---------+
|product_id|new_price|
+----------+---------+
|         2|       50|
|         1|       35|
+----------+---------+

+----------+---------+
|product_id|new_price|
+----------+---------+
|         3|       10|
+----------+---------+

+----------+---------+
|product_id|new_price|
+----------+---------+
|         2|       50|
|         1|       35|
|         3|       10|
+----------+---------+

### QUESTION 35: Last Person to Fit in the Bus

In [0]:
df35_data = [
    (5, "Alice", 250, 1),
    (4, "Bob", 175, 5),
    (3, "Alex", 350, 2),
    (6, "John Cena", 400, 3),
    (1, "Winston", 500, 6),
    (2, "Marie", 200, 4)
]

df35_schema = ["person_id", "person_name", "weight", "turn"]

# There is a queue of people waiting to board a bus. However, the bus has a weight limit of 1000 kilograms, so there may be some people who cannot board.
# Write a solution to find the person_name of the last person that can fit on the bus without exceeding the weight limit. The test cases are generated such that the first person does not exceed the weight limit.

df35 = spark.createDataFrame(df35_data, df35_schema)
df35.show()

+---------+-----------+------+----+
|person_id|person_name|weight|turn|
+---------+-----------+------+----+
|        5|      Alice|   250|   1|
|        4|        Bob|   175|   5|
|        3|       Alex|   350|   2|
|        6|  John Cena|   400|   3|
|        1|    Winston|   500|   6|
|        2|      Marie|   200|   4|
+---------+-----------+------+----+

In [0]:
# QUESTION 35: SPARK

from pyspark.sql.window import Window

win = Window.orderBy(col("turn"))

df35.withColumn("consecutiveSum", sum(col("weight")).over(win))\
    .filter(col("consecutiveSum") <= 1000 )\
        .collect()[-1][1]

df35.withColumn("consecutiveSum", sum(col("weight")).over(win))\
    .filter(col("consecutiveSum") <= 1000 )\
        .sort(col("consecutiveSum").desc()).limit(1)\
            .select(col("person_name")).show()

+-----------+
|person_name|
+-----------+
|  John Cena|
+-----------+

In [0]:
# QUESTION 35: SQL

df35.createOrReplaceTempView("df35_tbl")

spark.sql('''
          select person_name from (
          select *, sum(weight) over(order by turn) as consecutiveSum from df35_tbl)
          where consecutiveSum <= 1000
          order by consecutiveSum desc
          LIMIT 1
          ''').show()

+-----------+
|person_name|
+-----------+
|  John Cena|
+-----------+

### QUESTION 36: Count Salary Categories

In [0]:
df36_data = [
    (3, 108939),
    (2, 12747),
    (8, 87709),
    (6, 91796)
]

df36_schema = ["account_id", "income"]

# Write a solution to calculate the number of bank accounts for each salary category. The salary categories are:
# "Low Salary": All the salaries strictly less than $20000.
# "Average Salary": All the salaries in the inclusive range [$20000, $50000].
# "High Salary": All the salaries strictly greater than $50000.
# The result table must contain all three categories. If there are no accounts in a category, return 0.

df36 = spark.createDataFrame(df36_data, df36_schema)
df36.show()

+----------+------+
|account_id|income|
+----------+------+
|         3|108939|
|         2| 12747|
|         8| 87709|
|         6| 91796|
+----------+------+

In [0]:
# QUESTION 36: SPARK

from pyspark.sql import Row

df36_count = df36.select(col("income"), 
            when(col("income") <20000, "Low Salary")
            .when((col("income") >= 20000) & (col("income") <= 50000), "Average Salary")
            .when(col("income") >50000, "High Salary").alias("category"))\
                .groupBy(col("category")).agg(count(col("category")))

df36_category = spark.createDataFrame([
    Row(category="Low Salary"),
    Row(category="Average Salary"),
    Row(category="High Salary")
])

# df36_category.join(df36_count, df36_category["category"] == df36_count["category"], "left").show()
# AttributeError: 'NoneType' object has no attribute 'join'

df36_category.join(df36_count, on="category", how="left").fillna(0).show()

+--------------+---------------+
|      category|count(category)|
+--------------+---------------+
|    Low Salary|              1|
|Average Salary|              0|
|   High Salary|              3|
+--------------+---------------+

**AttributeError: 'NoneType' object has no attribute 'join'**

We get this error when one or more DF in the join return null, meaning one of those or both DataFrames was not created successfully.

In [0]:
# QUESTION 36: SQL

df36.createOrReplaceTempView("df36_tbl")
spark.sql('''
          WITH category AS (
          select income, (case when income <20000 then "Low Salary" when (income >=20000 and income<=50000) then "Average Salary" when income>50000 then "High Salary" end) as category 
          from df36_tbl),

          category_list AS(
          select "Low Salary" AS category  
          UNION ALL
          select "Average Salary"
          UNION ALL
          select "High Salary" 
          )

          select a.category, ifnull(b.accounts_count,0) as accounts_count  from category_list a left join
          (SELECT category, count(category) as accounts_count FROM category group by category) b
          on a.category=b.category
          ''').show()

+--------------+--------------+
|      category|accounts_count|
+--------------+--------------+
|    Low Salary|             1|
|Average Salary|             0|
|   High Salary|             3|
+--------------+--------------+

In [0]:
# What is a CTE?
# A CTE (Common Table Expression) is a temporary result set that you can reference within a SELECT, INSERT, UPDATE, or DELETE statement. It helps organize complex queries, especially when you need to reuse intermediate results.

# General Syntax

WITH cte_name1 AS (
    SELECT ...
),
cte_name2 AS (
    SELECT ...
)
SELECT ...
FROM cte_name1
JOIN cte_name2 ON ...


# You start with WITH.
# Define one or more named blocks (CTEs). Each block is written like a mini-SELECT query inside parentheses.
# After all the CTEs are defined, you write the main query that uses these CTEs.
# select "Low Salary" AS category  . Here category is column name

### QUESTION 37: Employees Whose Manager Left the Company

In [0]:
df37_data = [
    (3, "Mila", 9, 60301),
    (12, "Antonella", None, 31000),
    (13, "Emery", None, 67084),
    (1, "Kalel", 11, 21241),
    (9, "Mikaela", None, 50937),
    (11, "Joziah", 6, 28485)
]

df37_schema = ["employee_id", "name", "manager_id", "salary"]

# This table contains information about the employees, their salary, and the ID of their manager. Some employees do not have a manager (manager_id is null). 
#  Find the IDs of the employees whose salary is strictly less than $30000 and whose manager left the company. When a manager leaves the company, their information is deleted from the Employees table, but the reports still have their manager_id set to the manager that left.
# Return the result table ordered by employee_id.

df37 = spark.createDataFrame(df37_data, df37_schema)
df37.show()

+-----------+---------+----------+------+
|employee_id|     name|manager_id|salary|
+-----------+---------+----------+------+
|          3|     Mila|         9| 60301|
|         12|Antonella|      null| 31000|
|         13|    Emery|      null| 67084|
|          1|    Kalel|        11| 21241|
|          9|  Mikaela|      null| 50937|
|         11|   Joziah|         6| 28485|
+-----------+---------+----------+------+

In [0]:
# QUESTION 37: SPARK
df37_emp = df37.alias("a")
df37_distinct_emp = df37.select(col("employee_id")).distinct().alias("b")
df37_distinct_emp.show()

df37_emp.join(df37_distinct_emp, col("a.manager_id") == col("b.employee_id"), "left_anti" )\
    .filter((col("a.salary")<30000) & (col("manager_id").isNotNull()))\
        .select(col("a.employee_id"))\
            .sort(col("a.employee_id")).show()

+-----------+
|employee_id|
+-----------+
|          3|
|         12|
|         13|
|          1|
|          9|
|         11|
+-----------+

+-----------+
|employee_id|
+-----------+
|         11|
+-----------+

In [0]:
# QUESTION 37: SQL

df37.createOrReplaceTempView("df37_tbl")
spark.sql('''
          select employee_id from df37_tbl where manager_id NOT IN (select employee_id from df37_tbl) and salary < 30000 order by employee_id
          ''').show()

+-----------+
|employee_id|
+-----------+
|         11|
+-----------+

### QUESTION 38: Exchange Seats

In [0]:
df38_data = [
    (1, "Abbot"),
    (2, "Doris"),
    (3, "Emerson"),
    (4, "Green"),
    (5, "Jeames")
]

df38_schema = ["id", "student"]

# Write a solution to swap the seat id of every two consecutive students. If the number of students is odd, the id of the last student is not swapped.
# Return the result table ordered by id in ascending order.

df38 = spark.createDataFrame(df38_data, df38_schema)
df38.show()

+---+-------+
| id|student|
+---+-------+
|  1|  Abbot|
|  2|  Doris|
|  3|Emerson|
|  4|  Green|
|  5| Jeames|
+---+-------+

In [0]:
# QUESTION 38: SPARK

df38_total_rows = df38.count()
print(df38_total_rows)

df38.withColumn("new_id", when( ((col("id")%2 == 1) & (col("id") <df38_total_rows) ), col("id")+1 )
                .when(col("id") %2 == 0, col("id")-1)
                .otherwise(col("id")))\
                    .sort(col("new_id"))\
                        .select(col("new_id"), col("student")).show()

5
+------+-------+
|new_id|student|
+------+-------+
|     1|  Doris|
|     2|  Abbot|
|     3|  Green|
|     4|Emerson|
|     5| Jeames|
+------+-------+

In [0]:
# QUESTION 38: SQL
df38.createOrReplaceTempView("df38_tbl")

spark.sql('''
          select student , case when (id % 2 == 1) and ((id+1) <= (select count(*) from df38_tbl) ) then id+1
          when (id % 2 == 0) then id-1
          else id
          end as new_id
          from df38_tbl
          order by new_id
          ''').show()

+-------+------+
|student|new_id|
+-------+------+
|  Doris|     1|
|  Abbot|     2|
|  Green|     3|
|Emerson|     4|
| Jeames|     5|
+-------+------+

### QUESTION 39: Movie Rating

In [0]:
df39_movies_data = [
    (1, "Avengers"),
    (2, "Frozen 2"),
    (3, "Joker")
]
df39_movies_schema = ["movie_id", "title"]
df39_movies = spark.createDataFrame(df39_movies_data, df39_movies_schema)

df39_users_data = [
    (1, "Daniel"),
    (2, "Monica"),
    (3, "Maria"),
    (4, "James")
]
df39_users_schema = ["user_id", "name"]
df39_users = spark.createDataFrame(df39_users_data, df39_users_schema)

df39_ratings_data = [
    (1, 1, 3, "2020-01-12"),
    (1, 2, 4, "2020-02-11"),
    (1, 3, 2, "2020-02-12"),
    (1, 4, 1, "2020-01-01"),
    (2, 1, 5, "2020-02-17"),
    (2, 2, 2, "2020-02-01"),
    (2, 3, 2, "2020-03-01"),
    (3, 1, 3, "2020-02-22"),
    (3, 2, 4, "2020-02-25")
]
df39_ratings_schema = ["movie_id", "user_id", "rating", "created_at"]
df39_ratings = spark.createDataFrame(df39_ratings_data, df39_ratings_schema)

# Write a solution to:
# Find the name of the user who has rated the greatest number of movies. In case of a tie, return the lexicographically smaller user name.
# Find the movie name with the highest average rating in February 2020. In case of a tie, return the lexicographically smaller movie name.

df39_movies.show()
df39_users.show()
df39_ratings.show()

+--------+--------+
|movie_id|   title|
+--------+--------+
|       1|Avengers|
|       2|Frozen 2|
|       3|   Joker|
+--------+--------+

+-------+------+
|user_id|  name|
+-------+------+
|      1|Daniel|
|      2|Monica|
|      3| Maria|
|      4| James|
+-------+------+

+--------+-------+------+----------+
|movie_id|user_id|rating|created_at|
+--------+-------+------+----------+
|       1|      1|     3|2020-01-12|
|       1|      2|     4|2020-02-11|
|       1|      3|     2|2020-02-12|
|       1|      4|     1|2020-01-01|
|       2|      1|     5|2020-02-17|
|       2|      2|     2|2020-02-01|
|       2|      3|     2|2020-03-01|
|       3|      1|     3|2020-02-22|
|       3|      2|     4|2020-02-25|
+--------+-------+------+----------+

In [0]:
# QUESTION 39: SPARK

df39_res1 = df39_ratings.join(df39_users, on="user_id", how="inner")\
    .groupBy(col("user_id"), col("name")).agg(count("*").alias("user_rated_movie"))\
        .sort(col("user_rated_movie").desc(), col("name").asc())\
            .select(col("name").alias("result")).limit(1)


df39_res2 = df39_ratings.join(df39_movies, on="movie_id", how="inner")\
    .withColumn("created_date", to_date("created_at"))\
        .filter(((year(col("created_date")) == 2020)  &  (month(col("created_date")) == 2)))\
            .groupBy(col("movie_id"), col("title")).agg(avg(col("rating")).alias("avg_movie_rating"))\
                .sort(col("avg_movie_rating").desc(), col("title").asc())\
                    .select(col("title").alias("result")).limit(1)

df39_res1.union(df39_res2).show()

+--------+
|  result|
+--------+
|  Daniel|
|Frozen 2|
+--------+

In [0]:
# QUESTION 39: SQL

df39_ratings.createOrReplaceTempView("df38_r_tbl")
df39_users.createOrReplaceTempView("df38_u_tbl")
df39_movies.createOrReplaceTempView("df38_m_tbl")

spark.sql('''
          select a.name as result from df38_u_tbl a inner join (
          select user_id, count(*) as rating from df38_r_tbl group by user_id) b
          on a.user_id =b.user_id
          order by rating desc, name
          limit 1
          ''').show()

spark.sql('''
          select c.title as result from df38_m_tbl c inner join (
          select movie_id, avg(rating) as avg_rating from df38_r_tbl
          where month(to_date(created_at))=2 and year(to_date(created_at))=2020
          group by movie_id) d
          on c.movie_id = d.movie_id
          order by d.avg_rating desc, c.title
          limit 1
          ''').show()



spark.sql('''
          select a.name as result from df38_u_tbl a inner join (
          select user_id, count(*) as rating from df38_r_tbl group by user_id) b
          on a.user_id =b.user_id
          order by rating desc, name
          limit 1
          
          UNION

          select c.title as result from df38_m_tbl c inner join (
          select movie_id, avg(rating) as avg_rating from df38_r_tbl
          where month(to_date(created_at))=2 and year(to_date(created_at))=2020
          group by movie_id) d
          on c.movie_id = d.movie_id
          order by d.avg_rating desc, c.title
          limit 1
          ''').show()

+------+
|result|
+------+
|Daniel|
+------+

+--------+
|  result|
+--------+
|Frozen 2|
+--------+

---------------------------------------------------------------------------
ParseException                            Traceback (most recent call last)
File <command-1926884270911581>:27
      7 spark.sql('''
      8           select a.name as result from df38_u_tbl a inner join (
      9           select user_id, count(*) as rating from df38_r_tbl group by user_id) b
   (...)
     12           limit 1
     13           ''').show()
     15 spark.sql('''
     16           select c.title as result from df38_m_tbl c inner join (
     17           select movie_id, avg(rating) as avg_rating from df38_r_tbl
   (...)
     22           limit 1
     23           ''').show()
---> 27 spark.sql('''
     28           select a.name as result from df38_u_tbl a inner join (
     29           select user_id, count(*) as rating from df38_r_tbl group by user_id) b
     30           on a.user_id =b.user_id
     31           order by rating desc, name
     32           limit 1
     33
     34           UNION
     35
     36           select c.title as result from df38_m_tbl c inner join (
     37           select movie_id, avg(rating) as avg_rating from df38_r_tbl
     38           where month(to_date(created_at))=2 and year(to_date(created_at))=2020
     39           group by movie_id) d
     40           on c.movie_id = d.movie_id
     41           order by d.avg_rating desc, c.title
     42           limit 1
     43           ''').show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near 'UNION'.(line 8, pos 10)

== SQL ==

          select a.name as result from df38_u_tbl a inner join (
          select user_id, count(*) as rating from df38_r_tbl group by user_id) b
          on a.user_id =b.user_id
          order by rating desc, name
          limit 1

          UNION
----------^^^

          select c.title as result from df38_m_tbl c inner join (
          select movie_id, avg(rating) as avg_rating from df38_r_tbl
          where month(to_date(created_at))=2 and year(to_date(created_at))=2020
          group by movie_id) d
          on c.movie_id = d.movie_id
          order by d.avg_rating desc, c.title
          limit 1

In [0]:
# Getting a ParseException because in Spark SQL, when using UNION or UNION ALL, you cannot use ORDER BY and LIMIT within each subquery

spark.sql('''
    WITH res1 AS (
    select a.name as result from df38_u_tbl a inner join (
    select user_id, count(*) as rating from df38_r_tbl group by user_id) b
    on a.user_id =b.user_id
    order by rating desc, name
    limit 1
),
res2 AS (
    select c.title as result from df38_m_tbl c inner join (
          select movie_id, avg(rating) as avg_rating from df38_r_tbl
          where month(to_date(created_at))=2 and year(to_date(created_at))=2020
          group by movie_id) d
          on c.movie_id = d.movie_id
          order by d.avg_rating desc, c.title
          limit 1
)
select * from res1 
union
select * from res2
''').show()

+--------+
|  result|
+--------+
|  Daniel|
|Frozen 2|
+--------+

### QUESTION 40: Restaurant Growth

In [0]:
df40_data = [
    (1, "Jhon",    "2019-01-01", 100),
    (2, "Daniel",  "2019-01-02", 110),
    (3, "Jade",    "2019-01-03", 120),
    (4, "Khaled",  "2019-01-04", 130),
    (5, "Winston", "2019-01-05", 110),
    (6, "Elvis",   "2019-01-06", 140),
    (7, "Anna",    "2019-01-07", 150),
    (8, "Maria",   "2019-01-08", 80),
    (9, "Jaze",    "2019-01-09", 110),
    (1, "Jhon",    "2019-01-10", 130),
    (3, "Jade",    "2019-01-10", 150),
]
df40_schema = ["customer_id", "name", "visited_on", "amount"]
df40 = spark.createDataFrame(df40_data, df40_schema).withColumn("visited_on", to_date("visited_on"))

# Compute the moving average of how much the customer paid in a seven days window (i.e., current day + 6 days before). average_amount should be rounded to two decimal places.
# Return the result table ordered by visited_on in ascending order.

df40.show()

+-----------+-------+----------+------+
|customer_id|   name|visited_on|amount|
+-----------+-------+----------+------+
|          1|   Jhon|2019-01-01|   100|
|          2| Daniel|2019-01-02|   110|
|          3|   Jade|2019-01-03|   120|
|          4| Khaled|2019-01-04|   130|
|          5|Winston|2019-01-05|   110|
|          6|  Elvis|2019-01-06|   140|
|          7|   Anna|2019-01-07|   150|
|          8|  Maria|2019-01-08|    80|
|          9|   Jaze|2019-01-09|   110|
|          1|   Jhon|2019-01-10|   130|
|          3|   Jade|2019-01-10|   150|
+-----------+-------+----------+------+

In [0]:
# QUESTION 40: SPARK

# NOTE: On a single day, we can have multiple customers. So first, find total amount against each date by using groupby

from pyspark.sql.window import Window

win1 = Window.orderBy("visited_date").rowsBetween(-6,0)
win2 = Window.orderBy("visited_date")

df40.withColumn("visited_date", to_date("visited_on"))\
    .groupBy(col("visited_date")).agg(sum(col("amount")).alias("total_amt"))\
        .withColumn("moving_avg", round(avg(col("total_amt")).over(win1),2))\
            .withColumn("moving_sum", round(sum(col("total_amt")).over(win1),2))\
                .withColumn("row_number", row_number().over(win2))\
                    .filter(col("row_number")>6)\
                        .select("visited_date", "moving_sum", "moving_avg").show()

+------------+----------+----------+
|visited_date|moving_sum|moving_avg|
+------------+----------+----------+
|  2019-01-07|       860|    122.86|
|  2019-01-08|       840|     120.0|
|  2019-01-09|       840|     120.0|
|  2019-01-10|      1000|    142.86|
+------------+----------+----------+

In [0]:
# QUESTION 40: SQL

df40.createOrReplaceTempView("df40_tbl")

spark.sql('''
          select a.visited_date, sum(a.total_sum) over(order by a.visited_date ROWS BETWEEN 6 PRECEDING AND CURRENT ROW) as moving_sum,
          round(avg(a.total_sum) over(order by a.visited_date ROWS BETWEEN 6 PRECEDING AND CURRENT ROW),2) as moving_avg
          from (
          select to_date(visited_on) as visited_date, sum(amount) as total_sum from df40_tbl group by visited_on ) AS a
          OFFSET 6
          ''').show()

+------------+----------+----------+
|visited_date|moving_sum|moving_avg|
+------------+----------+----------+
|  2019-01-07|       860|    122.86|
|  2019-01-08|       840|     120.0|
|  2019-01-09|       840|     120.0|
|  2019-01-10|      1000|    142.86|
+------------+----------+----------+

### QUESTION 41: Friend Requests II: Who Has the Most Friends

In [0]:
from pyspark.sql.functions import to_date

df41_data = [
    (1, 2, "2016/06/03"),
    (1, 3, "2016/06/08"),
    (2, 3, "2016/06/08"),
    (3, 4, "2016/06/09"),
]
df41_schema = ["requester_id", "accepter_id", "accept_date"]

df41 = spark.createDataFrame(df41_data, df41_schema)

# Write a solution to find the people who have the most friends and the most friends number.
# The test cases are generated so that only one person has the most friends.

df41.show()

+------------+-----------+-----------+
|requester_id|accepter_id|accept_date|
+------------+-----------+-----------+
|           1|          2| 2016/06/03|
|           1|          3| 2016/06/08|
|           2|          3| 2016/06/08|
|           3|          4| 2016/06/09|
+------------+-----------+-----------+

In [0]:
# QUESTION 41: SPARK

df41_req = df41.select(col("requester_id").alias("ids"))
df41_acc = df41.select(col("accepter_id").alias("ids"))

df_req_total = df41_req.union(df41_acc)\
    .groupBy(col("ids")).agg(count("*").alias("count_ids"))\
        .sort(col("count_ids").desc())

max_output = df_req_total.collect()[0][1]

df_req_total.filter(col("count_ids") == max_output).show()

+---+---------+
|ids|count_ids|
+---+---------+
|  3|        3|
+---+---------+

In [0]:
# QUESTION 41: SQL

df41.createOrReplaceTempView("df41_tbl")

spark.sql('''
          WITH df41_acc_req AS (
              select requester_id from df41_tbl
              UNION ALL
              select accepter_id from df41_tbl
          )
          SELECT requester_id as ids, count(*) as total_ids FROM df41_acc_req group by requester_id
          order by total_ids DESC LIMIT 1
          ''').show()

+---+---------+
|ids|total_ids|
+---+---------+
|  3|        3|
+---+---------+

### QUESTION 42: Investments in 2016

In [0]:
df42_data = [
    (1, 10.0, 5.0, 10.0, 10.0),
    (2, 20.0, 20.0, 20.0, 20.0),
    (3, 10.0, 30.0, 20.0, 20.0),
    (4, 10.0, 40.0, 40.0, 40.0),
    (4, 30.0, 40.0, 50.0, 50.0),
    (4, 30.0, 40.0, 60.0, 60.0),
]
df42_schema = ["pid", "tiv_2015", "tiv_2016", "lat", "lon"]

df42 = spark.createDataFrame(df42_data, df42_schema)

# Write a solution to report the sum of all total investment values in 2016 tiv_2016, for all policyholders who:
# have the same tiv_2015 value as one or more other policyholders, and
# are not located in the same city as any other policyholder (i.e., the (lat, lon) attribute pairs must be unique).
# Round tiv_2016 to two decimal places.
df42.show()

+---+--------+--------+----+----+
|pid|tiv_2015|tiv_2016| lat| lon|
+---+--------+--------+----+----+
|  1|    10.0|     5.0|10.0|10.0|
|  2|    20.0|    20.0|20.0|20.0|
|  3|    10.0|    30.0|20.0|20.0|
|  4|    10.0|    40.0|40.0|40.0|
|  4|    30.0|    40.0|50.0|50.0|
|  4|    30.0|    40.0|60.0|60.0|
+---+--------+--------+----+----+

In [0]:
# QUESTION 42: SPARK

from pyspark.sql.window import Window

win1 = Window.partitionBy("tiv_2015")
win2 = Window.partitionBy("lat","lon")

df42.withColumn("tiv_count", count(col("tiv_2015")).over(win1))\
    .withColumn("lat_lon", count("*").over(win2))\
        .filter( ((col("tiv_count") > 1) & (col("lat_lon") ==1)) )\
            .select(sum(col("tiv_2016")).alias("tiv__2016")).show()

+---------+
|tiv__2016|
+---------+
|    125.0|
+---------+

In [0]:
# QUESTION 42: SQL

df42.createOrReplaceTempView("df24_tbl")

spark.sql('''
          WITH unique_lat_lon AS (
              select * , count(*) over (partition by tiv_2015) as tiv_count,
              count(*) over (partition by lat, lon) as lat_lon
              from df24_tbl
          )
            SELECT sum(tiv_2016) as tiv_2016 FROM unique_lat_lon where tiv_count>1 and lat_lon =1
''').show()

+--------+
|tiv_2016|
+--------+
|   125.0|
+--------+

### QUESTION 43: Department Top Three Salaries

In [0]:
df43_employee_data = [
    (1, "Joe",   85000, 1),
    (2, "Henry", 80000, 2),
    (3, "Sam",   60000, 2),
    (4, "Max",   90000, 1),
    (5, "Janet", 69000, 1),
    (6, "Randy", 85000, 1),
    (7, "Will",  70000, 1),
]
df43_employee_schema = ["id", "name", "salary", "departmentId"]
df43_employee = spark.createDataFrame(df43_employee_data, df43_employee_schema)

df43_department_data = [
    (1, "IT"),
    (2, "Sales"),
]
df43_department_schema = ["id", "name"]
df43_department = spark.createDataFrame(df43_department_data, df43_department_schema)

df43_employee.show()
df43_department.show()

+---+-----+------+------------+
| id| name|salary|departmentId|
+---+-----+------+------------+
|  1|  Joe| 85000|           1|
|  2|Henry| 80000|           2|
|  3|  Sam| 60000|           2|
|  4|  Max| 90000|           1|
|  5|Janet| 69000|           1|
|  6|Randy| 85000|           1|
|  7| Will| 70000|           1|
+---+-----+------+------------+

+---+-----+
| id| name|
+---+-----+
|  1|   IT|
|  2|Sales|
+---+-----+

In [0]:
# QUESTION 43: SPARK

df43_employee = df43_employee.alias("a")
df43_department = df43_department.alias("b")

from pyspark.sql.window import Window
win_dept = Window.partitionBy(col("departmentId")).orderBy(col("salary").desc())

df43_employee.withColumn("rank_sal_dept", dense_rank().over(win_dept))\
    .join(df43_department, col("a.departmentId") == col("b.id"))\
        .filter(col("rank_sal_dept")<4)\
            .select(col("b.name").alias("Department"), col("a.name").alias("Employee"), col("a.salary") )\
                .sort(col("departmentId"), col("salary").desc()).show()

+----------+--------+------+
|Department|Employee|salary|
+----------+--------+------+
|        IT|     Max| 90000|
|        IT|   Randy| 85000|
|        IT|     Joe| 85000|
|        IT|    Will| 70000|
|     Sales|   Henry| 80000|
|     Sales|     Sam| 60000|
+----------+--------+------+

In [0]:
# QUESTION 43: SQL

df43_employee.createOrReplaceTempView("df43_e_tbl")
df43_department.createOrReplaceTempView("df43_d_tbl")

spark.sql('''
          select a.name as Department, b.name as Employee, b.salary from df43_d_tbl a inner join (
          select *, dense_rank() over(partition by departmentId order by salary desc ) as rank_sal from df43_e_tbl) b on a.id = b.departmentId
          where rank_sal < 4
          order by Department, b.salary desc
          ''').show()

+----------+--------+------+
|Department|Employee|salary|
+----------+--------+------+
|        IT|     Max| 90000|
|        IT|     Joe| 85000|
|        IT|   Randy| 85000|
|        IT|    Will| 70000|
|     Sales|   Henry| 80000|
|     Sales|     Sam| 60000|
+----------+--------+------+

### QUESTION 44: Fix Names in a Table

In [0]:
df44_data = [
    (1, "aLice"),
    (2, "bOB"),
]
df44_schema = ["user_id", "name"]
df44 = spark.createDataFrame(df44_data, df44_schema)

# Write a solution to fix the names so that only the first character is uppercase and the rest are lowercase.
# Return the result table ordered by user_id.

df44.show()

+-------+-----+
|user_id| name|
+-------+-----+
|      1|aLice|
|      2|  bOB|
+-------+-----+

In [0]:
# QUESTION 44: SPARK

df44.select(col("user_id"), concat(  upper(substring(col("name"),1,1)) ,  lower(substring(col("name"),2,100))  ).alias("name_new")).show()

+-------+--------+
|user_id|name_new|
+-------+--------+
|      1|   Alice|
|      2|     Bob|
+-------+--------+

In [0]:
# QUESTION 44: SQL

df44.createOrReplaceTempView("df44_tbl")

spark.sql('''
          select user_id, concat(upper(left(name,1)), lower(substring(name,2))) as name_new from df44_tbl
          ''').show()

+-------+--------+
|user_id|name_new|
+-------+--------+
|      1|   Alice|
|      2|     Bob|
+-------+--------+

### QUESTION 45: Patients With a Condition

In [0]:
df45_data = [
    (1, "Daniel", "YFEV COUGH"),
    (2, "Alice", ""),
    (3, "Bob", "DIAB100 MYOP"),
    (4, "George", "ACNE DIAB100"),
    (5, "Alain", "DIAB201"),
]
df45_schema = ["patient_id", "patient_name", "conditions"]
df45 = spark.createDataFrame(df45_data, df45_schema)

# Write a solution to find the patient_id, patient_name, and conditions of the patients who have Type I Diabetes. Type I Diabetes always starts with DIAB1 prefix.

df45.show()

+----------+------------+------------+
|patient_id|patient_name|  conditions|
+----------+------------+------------+
|         1|      Daniel|  YFEV COUGH|
|         2|       Alice|            |
|         3|         Bob|DIAB100 MYOP|
|         4|      George|ACNE DIAB100|
|         5|       Alain|     DIAB201|
+----------+------------+------------+

In [0]:
# QUESTION 45: SPARK

df45.filter(col("conditions").like("%DIAB1%")).show()

+----------+------------+------------+
|patient_id|patient_name|  conditions|
+----------+------------+------------+
|         3|         Bob|DIAB100 MYOP|
|         4|      George|ACNE DIAB100|
+----------+------------+------------+

In [0]:
# QUESTION 45: SQL

df45.createOrReplaceTempView("df45_tbl")

spark.sql('''
          select * from df45_tbl where conditions LIKE "%DIAB1%"
          ''').show()

+----------+------------+------------+
|patient_id|patient_name|  conditions|
+----------+------------+------------+
|         3|         Bob|DIAB100 MYOP|
|         4|      George|ACNE DIAB100|
+----------+------------+------------+

### QUESTION 46: Delete Duplicate Emails

In [0]:
df46_data = [
    (1, "john@example.com"),
    (2, "bob@example.com"),
    (3, "john@example.com"),
]
df46_schema = ["id", "email"]
df46 = spark.createDataFrame(df46_data, df46_schema)
# Write a solution to delete all duplicate emails, keeping only one unique email with the smallest id.

df46.show()

+---+----------------+
| id|           email|
+---+----------------+
|  1|john@example.com|
|  2| bob@example.com|
|  3|john@example.com|
+---+----------------+

In [0]:
# QUESTION 46: SPARK

df46_1 = df46.alias("a")
df46_2 = df46.alias("b")

df46_1.join(df46_2, on="email", how="inner")\
    .filter(col("a.id")<col("b.id"))\
        .select(col("a.email")).show()

+----------------+
|           email|
+----------------+
|john@example.com|
+----------------+

In [0]:
# QUESTION 46: SQL

df46.createOrReplaceTempView("df46_tbl")

spark.sql('''
          select * from df46_tbl a inner join df46_tbl b on a.email = b.email and a.id<b.id
          ''').show()

+---+----------------+---+----------------+
| id|           email| id|           email|
+---+----------------+---+----------------+
|  1|john@example.com|  3|john@example.com|
+---+----------------+---+----------------+

### QUESTION 47: Second Highest Salary

In [0]:
df47_1_data = [
    (1, 100),
    (2, 200),
    (3, 300),
]
df47_1_schema = ["id", "salary"]

# Create the DataFrame
df47_1 = spark.createDataFrame(df47_1_data, df47_1_schema)

# Write a solution to find the second highest distinct salary from the Employee table. If there is no second highest salary, return null 

df47_1.show()

+---+------+
| id|salary|
+---+------+
|  1|   100|
|  2|   200|
|  3|   300|
+---+------+

In [0]:
# QUESTION 47: SPARK

from pyspark.sql.window import Window

win_salary = Window.orderBy(col("salary").desc())

df47_1.withColumn("rank_sal", rank().over(win_salary))\
    .filter(col("rank_sal") == 2)\
        .select(col("salary")).show()

+------+
|salary|
+------+
|   200|
+------+

In [0]:
# QUESTION 47: SQL

df47_1.createOrReplaceTempView("df47_1_tbl")

spark.sql('''
          select max(salary) from (
          select *, rank() over(order by salary desc) as rank_sal from df47_1_tbl ) a
          where rank_sal = 2
          ''').show()

+-----------+
|max(salary)|
+-----------+
|        200|
+-----------+

In [0]:
df47_2_data = [
    (1, 100),
]
df47_2_schema = ["id", "salary"]

df47_2 = spark.createDataFrame(df47_2_data, df47_2_schema)
df47_2.show()

+---+------+
| id|salary|
+---+------+
|  1|   100|
+---+------+

In [0]:
# QUESTION 47: SPARK

from pyspark.sql.window import Window

win_salary = Window.orderBy(col("salary").desc())

df47_2.withColumn("rank_sal", rank().over(win_salary))\
    .filter(col("rank_sal") == 2)\
        .select(col("salary")).show()

+------+
|salary|
+------+
+------+

In [0]:
# QUESTION 47: SQL

df47_2.createOrReplaceTempView("df47_2_tbl")

spark.sql('''
          select max(salary) from (
          select *, rank() over(order by salary desc) as rank_sal from df47_2_tbl ) a
          where rank_sal = 2
          ''').show()

+-----------+
|max(salary)|
+-----------+
|       null|
+-----------+

### QUESTION 48: Group Sold Products By The Date

In [0]:
df48_data = [
    ("2020-05-30", "Headphone"),
    ("2020-06-01", "Pencil"),
    ("2020-06-02", "Mask"),
    ("2020-05-30", "Basketball"),
    ("2020-06-01", "Bible"),
    ("2020-06-02", "Mask"),
    ("2020-05-30", "T-Shirt")
]

df48_schema = ["sell_date", "product"]

df48 = spark.createDataFrame(df48_data, df48_schema)

# Write a solution to find for each date the number of different products sold and their names.
# The sold products names for each date should be sorted lexicographically.
# Return the result table ordered by sell_date.

df48.show()

+----------+----------+
| sell_date|   product|
+----------+----------+
|2020-05-30| Headphone|
|2020-06-01|    Pencil|
|2020-06-02|      Mask|
|2020-05-30|Basketball|
|2020-06-01|     Bible|
|2020-06-02|      Mask|
|2020-05-30|   T-Shirt|
+----------+----------+

In [0]:
# QUESTION 48: SPARK

df48.groupBy("sell_date")\
    .agg(
        sort_array(collect_set("product")).alias("products"),
        size(collect_set("product")).alias("num_sold")
    )\
    .orderBy("sell_date").show(truncate=False)

+----------+--------------------------------+--------+
|sell_date |products                        |num_sold|
+----------+--------------------------------+--------+
|2020-05-30|[Basketball, Headphone, T-Shirt]|3       |
|2020-06-01|[Bible, Pencil]                 |2       |
|2020-06-02|[Mask]                          |1       |
+----------+--------------------------------+--------+

In [0]:
# QUESTION 48: SQL

df48.createOrReplaceTempView("df48_tbl")

spark.sql('''
    SELECT 
      sell_date, 
      SIZE(COLLECT_SET(product)) AS num_sold,
      ARRAY_JOIN(SORT_ARRAY(COLLECT_SET(product)), ',') AS products
    FROM df48_tbl
    GROUP BY sell_date
    ORDER BY sell_date
''').show(truncate=False)

+----------+--------+----------------------------+
|sell_date |num_sold|products                    |
+----------+--------+----------------------------+
|2020-05-30|3       |Basketball,Headphone,T-Shirt|
|2020-06-01|2       |Bible,Pencil                |
|2020-06-02|1       |Mask                        |
+----------+--------+----------------------------+

### QUESTION 49: List the Products Ordered in a Period

In [0]:
# Products DataFrame
df49_products_data = [
    (1, "Leetcode Solutions", "Book"),
    (2, "Jewels of Stringology", "Book"),
    (3, "HP", "Laptop"),
    (4, "Lenovo", "Laptop"),
    (5, "Leetcode Kit", "T-shirt")
]
df49_products_schema = ["product_id", "product_name", "product_category"]
df49_products = spark.createDataFrame(df49_products_data, df49_products_schema)

# Orders DataFrame
df49_orders_data = [
    (1, "2020-02-05", 60),
    (1, "2020-02-10", 70),
    (2, "2020-01-18", 30),
    (2, "2020-02-11", 80),
    (3, "2020-02-17", 2),
    (3, "2020-02-24", 3),
    (4, "2020-03-01", 20),
    (4, "2020-03-04", 30),
    (4, "2020-03-04", 60),
    (5, "2020-02-25", 50),
    (5, "2020-02-27", 50),
    (5, "2020-03-01", 50)
]
df49_orders_schema = ["product_id", "order_date", "unit"]
df49_orders = spark.createDataFrame(df49_orders_data, df49_orders_schema)

# Write a solution to get the names of products that have at least 100 units ordered in February 2020 and their amount.

df49_products.show()
df49_orders.show()

+----------+--------------------+----------------+
|product_id|        product_name|product_category|
+----------+--------------------+----------------+
|         1|  Leetcode Solutions|            Book|
|         2|Jewels of Stringo...|            Book|
|         3|                  HP|          Laptop|
|         4|              Lenovo|          Laptop|
|         5|        Leetcode Kit|         T-shirt|
+----------+--------------------+----------------+

+----------+----------+----+
|product_id|order_date|unit|
+----------+----------+----+
|         1|2020-02-05|  60|
|         1|2020-02-10|  70|
|         2|2020-01-18|  30|
|         2|2020-02-11|  80|
|         3|2020-02-17|   2|
|         3|2020-02-24|   3|
|         4|2020-03-01|  20|
|         4|2020-03-04|  30|
|         4|2020-03-04|  60|
|         5|2020-02-25|  50|
|         5|2020-02-27|  50|
|         5|2020-03-01|  50|
+----------+----------+----+

In [0]:
# QUESTION 49: SPARK

df49_orders.withColumn("order_date_new", to_date(col("order_date")))\
    .filter(((month(col("order_date_new")) == 2) & (year(col("order_date_new"))==2020)))\
        .groupBy(col("product_id")).agg(sum(col("unit")).alias("units_sold"))\
            .filter(col("units_sold") >= 100)\
                .join(df49_products, on="product_id", how="inner")\
                    .select(col("product_name"), col("units_sold")).show()

+------------------+----------+
|      product_name|units_sold|
+------------------+----------+
|Leetcode Solutions|       130|
|      Leetcode Kit|       100|
+------------------+----------+

In [0]:
# QUESTION 49: SQL

df49_products.createOrReplaceTempView("df49_p_tbl")
df49_orders.createOrReplaceTempView("df49_o_tbl")

spark.sql('''
          select product_name, units from df49_p_tbl a inner join (
          select product_id, sum(unit) as units from df49_o_tbl
          where month(to_date(order_date)) = 2 and year(to_date(order_date))=2020
          group by product_id
          having units>=100) b
          on a.product_id=b.product_id
          ''').show()

+------------------+-----+
|      product_name|units|
+------------------+-----+
|Leetcode Solutions|  130|
|      Leetcode Kit|  100|
+------------------+-----+

### QUESTION 50: Find Users With Valid E-Mails

In [0]:
df50_data = [
    (1, "Winston",   "winston@leetcode.com"),
    (2, "Jonathan",  "jonathanisgreat"),
    (3, "Annabelle", "bella-@leetcode.com"),
    (4, "Sally",     "sally.come@leetcode.com"),
    (5, "Marwan",    "quarz#2020@leetcode.com"),
    (6, "David",     "david69@gmail.com"),
    (7, "Shapiro",   ".shapo@leetcode.com")
]
df50_schema = ["user_id", "name", "mail"]
df50 = spark.createDataFrame(df50_data, df50_schema)

# Write a solution to find the users who have valid emails.
# A valid e-mail has a prefix name and a domain where:
# The prefix name is a string that may contain letters (upper or lower case), digits, underscore '_', period '.', and/or dash '-'. The prefix name must start with a letter.
# The domain is '@leetcode.com'.

df50.show(truncate=False)

+-------+---------+-----------------------+
|user_id|name     |mail                   |
+-------+---------+-----------------------+
|1      |Winston  |winston@leetcode.com   |
|2      |Jonathan |jonathanisgreat        |
|3      |Annabelle|bella-@leetcode.com    |
|4      |Sally    |sally.come@leetcode.com|
|5      |Marwan   |quarz#2020@leetcode.com|
|6      |David    |david69@gmail.com      |
|7      |Shapiro  |.shapo@leetcode.com    |
+-------+---------+-----------------------+

In [0]:
# QUESTION 50: SPARK

# Regex pattern explanation:
# ^           : start of string
# [a-zA-Z]    : first character must be a letter
# [\w\.-]*    : remaining characters can be word characters, dot or dash
# @leetcode\.com$ : ends with @leetcode.com

email_pattern = r"^[a-zA-Z][\w\.-]*@leetcode\.com$"

df50_valid = df50.filter(col("mail").rlike(email_pattern))
df50_valid.show(truncate=False)

+-------+---------+-----------------------+
|user_id|name     |mail                   |
+-------+---------+-----------------------+
|1      |Winston  |winston@leetcode.com   |
|3      |Annabelle|bella-@leetcode.com    |
|4      |Sally    |sally.come@leetcode.com|
+-------+---------+-----------------------+

In [0]:
# QUESTION 50: SQL

df50.createOrReplaceTempView("df50_tbl")

spark.sql('''
    SELECT * FROM df50_tbl
WHERE mail RLIKE '^[a-zA-Z][a-zA-Z0-9._-]*@leetcode\\.com$'
''').show(truncate=False)

+-------+---------+-----------------------+
|user_id|name     |mail                   |
+-------+---------+-----------------------+
|1      |Winston  |winston@leetcode.com   |
|3      |Annabelle|bella-@leetcode.com    |
|4      |Sally    |sally.come@leetcode.com|
+-------+---------+-----------------------+

# Keep your code lit  just like Spark!